Repository Microsoft/botbuilder-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/botbuilder-js-maintainers, @boydc2014, @chrimc62, @luhan2017, @stevengum, @stevenic, @carlosscastro, @brucehaley

.github/CODEOWNERS:

# global
* @microsoft/botbuilder-js-maintainers

# Adaptive/LG
/libraries/adaptive-expressions/**/* @boydc2014 @chrimc62 @luhan2017 @stevengum @stevenic
/libraries/botbuilder-lg/**/* @boydc2014 @chrimc62 @luhan2017 @stevengum @stevenic
/libraries/botbuilder-dialogs-*/**/* @boydc2014 @carlosscastro @chrimc62 @luhan2017 @stevengum @stevenic

# For all public API changes
/libraries/*/etc/* @microsoft/botbuilder-js-maintainers

# For maintenance of shipped packages dependencies and devDependencies
# Codeowners should use tools such as https://bundlephobia.com/
/libraries/*/package.json @microsoft/botbuilder-js-maintainers

# build pipelines
/build/yaml/**/* @brucehaley @microsoft/botbuilder-js-maintainers

fixed indentation error
  libraries/streaming-e2e-tests/streaming-e2e-tests-build.yml
Owners: @microsoft/botbuilder-js-maintainers

adding next step in bruce's yml to test
  libraries/streaming-e2e-tests/pieces-of-bruce-yml.yml
Owners: @microsoft/botbuilder-js-maintainers

Adding only first line of pwsh for Set_Dependency_To_Latest_Version
  libraries/streaming-e2e-tests/streaming-e2e-tests-build.yml
Owners: @microsoft/botbuilder-js-maintainers

path to package.json in streaming-e2e-tests/bot/
  libraries/streaming-e2e-tests/pieces-of-bruce-yml.yml
Owners: @microsoft/botbuilder-js-maintainers

Adding 2nd line of pswh command to set depen. to latest
  libraries/streaming-e2e-tests/streaming-e2e-tests-build.yml
Owners: @microsoft/botbuilder-js-maintainers

preloaded files
  libraries/botbuilder-lg/tests/lg.test.js
  package.json
Owners: @boydc2014, @chrimc62, @luhan2017, @stevengum, @stevenic, @microsoft/botbuilder-js-maintainers

Simple Write-Host to test
  libraries/streaming-e2e-tests/streaming-e2e-tests-build.yml
  libraries/streaming-e2e-tests/test-yaml.yml
Owners: @microsoft/botbuilder-js-maintainers

test all packages
  package.json
Owners: @microsoft/botbuilder-js-maintainers

Attempting to run script in separate ps1 file
  libraries/streaming-e2e-tests/set-dependency-version-in-packagejson.ps1
  libraries/streaming-e2e-tests/streaming-e2e-tests-build.yml
  libraries/streaming-e2e-tests/test-yaml.yml
Owners: @microsoft/botbuilder-js-maintainers

Set task value to PowerShell@2
  libraries/streaming-e2e-tests/streaming-e2e-tests-build.yml
Owners: @microsoft/botbuilder-js-maintainers

attempting to pass param to ps1 file
  libraries/streaming-e2e-tests/streaming-e2e-tests-build.yml
Owners: @microsoft/botbuilder-js-maintainers

removed parens from ps1 file
  libraries/streaming-e2e-tests/set-dependency-version-in-packagejson.ps1
  libraries/streaming-e2e-tests/streaming-e2e-tests-build.yml
Owners: @microsoft/botbuilder-js-maintainers

hard-coding LatestVersion value for tsting
  libraries/streaming-e2e-tests/streaming-e2e-tests-build.yml
Owners: @microsoft/botbuilder-js-maintainers

passing working directory param into ps1 script
  libraries/streaming-e2e-tests/set-dependency-version-in-packagejson.ps1
  libraries/streaming-e2e-tests/streaming-e2e-tests-build.yml
Owners: @microsoft/botbuilder-js-maintainers

Corrected path to pkg.json in ps1
  libraries/streaming-e2e-tests/set-dependency-version-in-packagejson.ps1
Owners: @microsoft/botbuilder-js-maintainers

removed YAML property from ps script
  libraries/streaming-e2e-tests/set-dependency-version-in-packagejson.ps1
Owners: @microsoft/botbuilder-js-maintainers

add formatnumber locale
  libraries/adaptive-expressions/src/builtinFunctions/formatNumber.ts
  libraries/adaptive-expressions/src/functionUtils.ts
Owners: @boydc2014, @chrimc62, @luhan2017, @stevengum, @stevenic

modify some code
  libraries/adaptive-expressions/src/builtinFunctions/formatEpoch.ts
  libraries/adaptive-expressions/src/functionUtils.ts
  libraries/botbuilder-dialogs-adaptive-tests/resources/LGGeneratorTests/LocaleInExpr.test.dialog
Owners: @boydc2014, @chrimc62, @luhan2017, @stevengum, @stevenic, @carlosscastro

expand dialogPath to have expectedProperties
  libraries/botbuilder-dialogs/src/memory/dialogPath.ts
Owners: @microsoft/botbuilder-js-maintainers

removed onClearProperty
  libraries/botbuilder-dialogs-adaptive/src/adaptiveDialogComponentRegistration.ts
  libraries/botbuilder-dialogs-adaptive/src/conditions/index.ts
  libraries/botbuilder-dialogs-adaptive/src/conditions/onClearProperty.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

added operation/property to EntityInfo
  libraries/botbuilder-dialogs-adaptive/src/entityInfo.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

changed operation path in onAssignEntity
  libraries/botbuilder-dialogs-adaptive/src/conditions/onAssignEntity.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

removed unused onClearProperty from adaptiveEvents
  libraries/botbuilder-dialogs-adaptive/src/adaptiveEvents.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

added EntityAssignments
  libraries/botbuilder-dialogs-adaptive/src/entityAssignments.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

removed EntityEvents
  libraries/botbuilder-dialogs-adaptive/src/entityEvents.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

refactored EntityAssignment
  libraries/botbuilder-dialogs-adaptive/src/entityAssignment.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

refactored AdaptiveDialog
  libraries/botbuilder-dialogs-adaptive/src/adaptiveDialog.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

moved normalizeEntities() into adaptive dialog
  libraries/botbuilder-dialogs-adaptive/src/adaptiveDialog.ts
  libraries/botbuilder-dialogs-adaptive/src/entityInfo.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

preload lg.test.js files
  libraries/botbuilder-lg/tests/lg.test.js
Owners: @boydc2014, @chrimc62, @luhan2017, @stevengum, @stevenic

SSO + Teams: Maintain sign-in link for Teams OAuth
  libraries/botbuilder-dialogs/src/prompts/oauthPrompt.ts
Owners: @microsoft/botbuilder-js-maintainers

Get Latest Ver script now abstracted from build yml to external file
  libraries/streaming-e2e-tests/get-latest-bbjs-daily-version.ps1
  libraries/streaming-e2e-tests/streaming-e2e-tests-build.yml
Owners: @microsoft/botbuilder-js-maintainers

Attempting to remove hardcoded latest ver. val in set dependency
  libraries/streaming-e2e-tests/streaming-e2e-tests-build.yml
Owners: @microsoft/botbuilder-js-maintainers

preload files in lgDiagnostic.test.js
  libraries/botbuilder-lg/tests/lgDiagnostic.test.js
Owners: @boydc2014, @chrimc62, @luhan2017, @stevengum, @stevenic

preload MultilanguageLGTest.js files
  libraries/botbuilder-lg/tests/MultilanguageLGTest.js
Owners: @boydc2014, @chrimc62, @luhan2017, @stevengum, @stevenic

preload templatesParseTree.test.js files
  libraries/botbuilder-lg/tests/templatesParseTree.test.js
Owners: @boydc2014, @chrimc62, @luhan2017, @stevengum, @stevenic

Attempting first 3 steps in 1 stage
  libraries/streaming-e2e-tests/streaming-e2e-tests-build.yml
Owners: @microsoft/botbuilder-js-maintainers

renamed stage and job to describe the multiple steps
  libraries/streaming-e2e-tests/streaming-e2e-tests-build.yml
Owners: @microsoft/botbuilder-js-maintainers

Add tests for channelServiceHandler class. (#2484)
  libraries/botbuilder/tests/channelServiceHandler.test.js
Owners: @microsoft/botbuilder-js-maintainers

add readableFlowing property to INodeSocket
  libraries/botframework-streaming/src/interfaces/INodeSocket.ts
Owners: @microsoft/botbuilder-js-maintainers

add comments to testAdapter.getTokenStatus
  libraries/botbuilder-core/src/testAdapter.ts
Owners: @microsoft/botbuilder-js-maintainers
