Repository Microsoft/botbuilder-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/botbuilder-js-maintainers, @boydc2014, @chrimc62, @luhan2017, @stevengum, @stevenic, @carlosscastro, @brucehaley

modify TelemtryConstants to use static properties (#2251)
  libraries/botbuilder-core/src/telemetryConstants.ts
  libraries/botbuilder-core/src/telemetryLoggerMiddleware.ts
Owners: @microsoft/botbuilder-js-maintainers

init
  libraries/botbuilder-core/src/activityFactory.ts
  libraries/botbuilder-dialogs-adaptive/tests/activityFactory.test.js
  libraries/botbuilder-dialogs-adaptive/tests/lg/DiagnosticStructuredLG.lg
  libraries/botbuilder-dialogs-adaptive/tests/lg/NormalStructuredLG.lg
Owners: @microsoft/botbuilder-js-maintainers, @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

refine code
  libraries/botbuilder-core/src/activityFactory.ts
Owners: @microsoft/botbuilder-js-maintainers

Add tests for channelServiceHandler class.
  libraries/botbuilder/tests/channelServiceHandler.test.js
Owners: @microsoft/botbuilder-js-maintainers

Eliminate unnecessary stages
  build/yaml/botbuilder-js-ci.yml
Owners: @brucehaley, @microsoft/botbuilder-js-maintainers

Fix TeamsActivityHandler to capture errors properly
  libraries/botbuilder/tests/teamsActivityHandler.test.js
Owners: @microsoft/botbuilder-js-maintainers

Set up 2 jobs only
  build/yaml/botbuilder-js-ci.yml
Owners: @brucehaley, @microsoft/botbuilder-js-maintainers

ubuntu
  build/yaml/botbuilder-js-ci.yml
Owners: @brucehaley, @microsoft/botbuilder-js-maintainers

macOS-10.15
  build/yaml/botbuilder-js-ci.yml
Owners: @brucehaley, @microsoft/botbuilder-js-maintainers

macOS-latest
  build/yaml/botbuilder-js-ci.yml
Owners: @brucehaley, @microsoft/botbuilder-js-maintainers

macOS-10.14
  build/yaml/botbuilder-js-ci.yml
Owners: @brucehaley, @microsoft/botbuilder-js-maintainers

add npm install
  build/yaml/botbuilder-js-ci.yml
Owners: @brucehaley, @microsoft/botbuilder-js-maintainers

Without npm install
  build/yaml/botbuilder-js-ci.yml
Owners: @brucehaley, @microsoft/botbuilder-js-maintainers

Without Note 10.x
  build/yaml/botbuilder-js-ci.yml
Owners: @brucehaley, @microsoft/botbuilder-js-maintainers

With Noge 10.x
  build/yaml/botbuilder-js-ci.yml
Owners: @brucehaley, @microsoft/botbuilder-js-maintainers

add directlinespeech support to prompts (#2479)
  libraries/botbuilder-dialogs/etc/botbuilder-dialogs.api.md
  libraries/botbuilder-dialogs/src/choices/channel.ts
  libraries/botbuilder-dialogs/tests/choices_channel.test.js
Owners: @microsoft/botbuilder-js-maintainers

install @typescript-eslint/eslint-plugin
  build/yaml/botbuilder-js-ci.yml
Owners: @brucehaley, @microsoft/botbuilder-js-maintainers

Add install typescript @typescript-eslint/parser
  build/yaml/botbuilder-js-ci.yml
Owners: @brucehaley, @microsoft/botbuilder-js-maintainers

install eslint etcetera
  build/yaml/botbuilder-js-ci.yml
Owners: @brucehaley, @microsoft/botbuilder-js-maintainers

Add stages
  build/yaml/botbuilder-js-ci.yml
Owners: @brucehaley, @microsoft/botbuilder-js-maintainers

Parallel stages
  build/yaml/botbuilder-js-ci.yml
Owners: @brucehaley, @microsoft/botbuilder-js-maintainers

Add unit tests for botFrameworkHttpClient class
  libraries/botbuilder/tests/botFrameworkHttpClient.test.js
Owners: @microsoft/botbuilder-js-maintainers

Normalize
  build/yaml/botbuilder-js-ci.yml
  build/yaml/js-analysis-steps.yml
  build/yaml/js-build-steps.yml
Owners: @brucehaley, @microsoft/botbuilder-js-maintainers

Syntax fix
  build/yaml/botbuilder-js-ci.yml
Owners: @brucehaley, @microsoft/botbuilder-js-maintainers

Add node12 pipeline
  build/yaml/botbuilder-js-ci-node12.yml
Owners: @brucehaley, @microsoft/botbuilder-js-maintainers

Fix node version in analysis steps
  build/yaml/botbuilder-js-ci-node12.yml
  build/yaml/js-analysis-steps.yml
Owners: @brucehaley, @microsoft/botbuilder-js-maintainers

Fix node version 2
  build/yaml/botbuilder-js-ci.yml
Owners: @brucehaley, @microsoft/botbuilder-js-maintainers

Create pipeline BotBuilder-Js-CI-yaml (#2482)
  build/yaml/botbuilder-js-ci.yml
Owners: @brucehaley, @microsoft/botbuilder-js-maintainers

Try NodeVersion 10 in build node12
  build/yaml/botbuilder-js-ci-node12.yml
Owners: @brucehaley, @microsoft/botbuilder-js-maintainers

Switch NodeVersion back to 12.
  build/yaml/botbuilder-js-ci-node12.yml
Owners: @brucehaley, @microsoft/botbuilder-js-maintainers

Fix comment
  build/yaml/botbuilder-js-ci-node12.yml
Owners: @brucehaley, @microsoft/botbuilder-js-maintainers

Fix line spacing
  build/yaml/js-build-steps.yml
Owners: @brucehaley, @microsoft/botbuilder-js-maintainers

Drop log env vars
  build/yaml/js-build-steps.yml
Owners: @brucehaley, @microsoft/botbuilder-js-maintainers

Updated OAuthInput to be on parity with dotnet sdk (#2349)
  libraries/botbuilder-dialogs-adaptive/src/input/oauthInput.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

use static functions instead of extensions
  libraries/botbuilder-dialogs-adaptive/src/index.ts
  libraries/botbuilder-dialogs-adaptive/src/skillExtensions.ts
  libraries/botbuilder-dialogs-adaptive/tests/beginSkill.test.js
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

use static funtions instead of extensions
  libraries/botbuilder-dialogs-adaptive/src/index.ts
  libraries/botbuilder-dialogs-adaptive/src/languageGeneratorExtensions.ts
  libraries/botbuilder-dialogs-adaptive/src/resourceExtensions.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

updated test script to reflect changes
  libraries/botbuilder-dialogs-adaptive-tests/src/testing/testScript.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

removed unused key
  libraries/botbuilder-dialogs-adaptive/src/adaptiveDialog.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

fixed build issues
  libraries/botbuilder-dialogs-adaptive/src/input/oauthInput.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

init
  libraries/adaptive-expressions/src/builtinFunctions/addDays.ts
  libraries/adaptive-expressions/src/builtinFunctions/addHours.ts
  libraries/adaptive-expressions/src/builtinFunctions/addMinutes.ts
  libraries/adaptive-expressions/src/builtinFunctions/addOrdinal.ts
  libraries/adaptive-expressions/src/builtinFunctions/addSeconds.ts
  libraries/adaptive-expressions/src/builtinFunctions/and.ts
  libraries/adaptive-expressions/src/builtinFunctions/concat.ts
  libraries/adaptive-expressions/src/builtinFunctions/contains.ts
  libraries/adaptive-expressions/src/builtinFunctions/countWord.ts
  libraries/adaptive-expressions/src/builtinFunctions/dateEva.ts
  libraries/adaptive-expressions/src/builtinFunctions/dayOfMonth.ts
  libraries/adaptive-expressions/src/builtinFunctions/dayOfWeek.ts
  libraries/adaptive-expressions/src/builtinFunctions/dayOfYear.ts
  libraries/adaptive-expressions/src/builtinFunctions/endsWith.ts
  libraries/adaptive-expressions/src/builtinFunctions/formatDateTime.ts
  libraries/adaptive-expressions/src/builtinFunctions/indexOf.ts
  libraries/adaptive-expressions/src/builtinFunctions/join.ts
  libraries/adaptive-expressions/src/builtinFunctions/lastIndexOf.ts
  libraries/adaptive-expressions/src/builtinFunctions/length.ts
  libraries/adaptive-expressions/src/builtinFunctions/month.ts
  libraries/adaptive-expressions/src/builtinFunctions/not.ts
  libraries/adaptive-expressions/src/builtinFunctions/or.ts
  libraries/adaptive-expressions/src/builtinFunctions/replace.ts
  libraries/adaptive-expressions/src/builtinFunctions/replaceIgnoreCase.ts
  libraries/adaptive-expressions/src/builtinFunctions/sentenceCase.ts
  libraries/adaptive-expressions/src/builtinFunctions/split.ts
  libraries/adaptive-expressions/src/builtinFunctions/startsWith.ts
  libraries/adaptive-expressions/src/builtinFunctions/stringTransformEvaluator.ts
  libraries/adaptive-expressions/src/builtinFunctions/substring.ts
  libraries/adaptive-expressions/src/builtinFunctions/timeTransformEvaluator.ts
  libraries/adaptive-expressions/src/builtinFunctions/titleCase.ts
  libraries/adaptive-expressions/src/builtinFunctions/toLower.ts
  libraries/adaptive-expressions/src/builtinFunctions/toUpper.ts
  libraries/adaptive-expressions/src/builtinFunctions/trim.ts
  libraries/adaptive-expressions/src/builtinFunctions/utcNow.ts
  libraries/adaptive-expressions/src/builtinFunctions/year.ts
  libraries/adaptive-expressions/src/expressionFunctions.ts
  libraries/adaptive-expressions/src/functionUtils.ts
Owners: @boydc2014, @chrimc62, @luhan2017, @stevengum, @stevenic

.github/CODEOWNERS:

# global
* @microsoft/botbuilder-js-maintainers

# Adaptive/LG
/libraries/adaptive-expressions/**/* @boydc2014 @chrimc62 @luhan2017 @stevengum @stevenic
/libraries/botbuilder-lg/**/* @boydc2014 @chrimc62 @luhan2017 @stevengum @stevenic
/libraries/botbuilder-dialogs-*/**/* @boydc2014 @carlosscastro @chrimc62 @luhan2017 @stevengum @stevenic

# For all public API changes
/libraries/*/etc/* @microsoft/botbuilder-js-maintainers

# For maintenance of shipped packages dependencies and devDependencies
# Codeowners should use tools such as https://bundlephobia.com/
/libraries/*/package.json @microsoft/botbuilder-js-maintainers

# build pipelines
/build/yaml/**/* @brucehaley @microsoft/botbuilder-js-maintainers
