Repository Microsoft/botbuilder-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/botbuilder-js-maintainers, @boydc2014, @chrimc62, @luhan2017, @stevengum, @stevenic, @carlosscastro, @brucehaley

.github/CODEOWNERS:

# global
* @microsoft/botbuilder-js-maintainers

# Adaptive/LG
/libraries/adaptive-expressions/**/* @boydc2014 @chrimc62 @luhan2017 @stevengum @stevenic
/libraries/botbuilder-lg/**/* @boydc2014 @chrimc62 @luhan2017 @stevengum @stevenic
/libraries/botbuilder-dialogs-*/**/* @boydc2014 @carlosscastro @chrimc62 @luhan2017 @stevengum @stevenic

# For all public API changes
/libraries/*/etc/* @microsoft/botbuilder-js-maintainers

# For maintenance of shipped packages dependencies and devDependencies
# Codeowners should use tools such as https://bundlephobia.com/
/libraries/*/package.json @microsoft/botbuilder-js-maintainers

# build pipelines
/build/yaml/**/* @brucehaley @microsoft/botbuilder-js-maintainers

refine
  libraries/adaptive-expressions/src/constant.ts
Owners: @boydc2014, @chrimc62, @luhan2017, @stevengum, @stevenic

remove useless comments
  libraries/botbuilder-dialogs-adaptive/src/adaptiveDialog.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

change LuisAdaptiveRecognizer to extend from Recognizer instead of Configurable
  libraries/botbuilder-dialogs-adaptive/src/luis/luisAdaptiveRecognizer.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

change functions' access modifiers
  libraries/botbuilder-dialogs-adaptive/src/recognizers/recognizer.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

format
  libraries/botbuilder-dialogs-adaptive/src/adaptiveDialog.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

Correct error in activity null / undefined check
  libraries/botbuilder-core/src/telemetryLoggerMiddleware.ts
Owners: @microsoft/botbuilder-js-maintainers

Added Microsoft.Ask
  libraries/botbuilder-dialogs-adaptive/src/adaptiveDialogComponentRegistration.ts
  libraries/botbuilder-dialogs-adaptive/src/input/ask.ts
  libraries/botbuilder-dialogs-adaptive/src/input/index.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

Make QnA Maker Active Learnings Threasholds user settable
  libraries/botbuilder-ai/src/qnaMakerDialog.ts
  libraries/botbuilder-ai/src/qnamaker-utils/activeLearningUtils.ts
Owners: @microsoft/botbuilder-js-maintainers

space
  libraries/botbuilder-ai/src/qnamaker-utils/activeLearningUtils.ts
Owners: @microsoft/botbuilder-js-maintainers

no-op changes
  libraries/botbuilder-azure/tests/cosmosDbStorage.test.js
Owners: @microsoft/botbuilder-js-maintainers

Added .yml file
  libraries/streaming-e2e-tests/bot/.env
  libraries/streaming-e2e-tests/bot/.eslintrc.js
  libraries/streaming-e2e-tests/bot/README.md
  libraries/streaming-e2e-tests/bot/bot.js
  libraries/streaming-e2e-tests/bot/chat/WebChat.html
  libraries/streaming-e2e-tests/bot/deployment-scripts/linux/.deployment
  libraries/streaming-e2e-tests/bot/deployment-scripts/linux/deploy.sh
  libraries/streaming-e2e-tests/bot/deployment-scripts/windows/.deployment
  libraries/streaming-e2e-tests/bot/deployment-scripts/windows/deploy.cmd
  libraries/streaming-e2e-tests/bot/deploymentTemplates/new-rg-parameters.json
  libraries/streaming-e2e-tests/bot/deploymentTemplates/preexisting-rg-parameters.json
  libraries/streaming-e2e-tests/bot/deploymentTemplates/template-with-new-rg.json
  libraries/streaming-e2e-tests/bot/deploymentTemplates/template-with-preexisting-rg.json
  libraries/streaming-e2e-tests/bot/index.js
  libraries/streaming-e2e-tests/bot/package.json
  libraries/streaming-e2e-tests/bot/utils/createUserId.js
  libraries/streaming-e2e-tests/bot/utils/generateDirectLineToken.js
  libraries/streaming-e2e-tests/bot/utils/renewDirectLineToken.js
  libraries/streaming-e2e-tests/bot/web.config
  libraries/streaming-e2e-tests/react-app/custom-app-code/App.js
  libraries/streaming-e2e-tests/react-app/custom-app-code/index.html
  libraries/streaming-e2e-tests/react-app/custom-app-code/index.js
  libraries/streaming-e2e-tests/streaming-e2e-tests-build.yml
Owners: @microsoft/botbuilder-js-maintainers

lerna-focused changes * add "private": true to test packages * add "lerna version" config * add explicit npmClient in prep for yarn
  lerna.json
  libraries/functional-tests/dialogToDialog/dialogRootBot/package.json
  libraries/functional-tests/dialogToDialog/dialogSkillBot/package.json
  libraries/functional-tests/package.json
  libraries/testbot/package.json
  libraries/testskills/skillchild/package.json
  libraries/testskills/skillparent/package.json
  transcripts/package.json
Owners: @microsoft/botbuilder-js-maintainers

Updated Dialog Manager to work with skills (#2343)
  libraries/botbuilder-dialogs-adaptive/src/actions/beginSkill.ts
  libraries/botbuilder-dialogs-adaptive/src/index.ts
  libraries/botbuilder-dialogs-adaptive/src/skillExtensions.ts
  libraries/botbuilder-dialogs-adaptive/tests/beginSkill.test.js
  libraries/botbuilder-dialogs/src/dialogHelper.ts
  libraries/botbuilder-dialogs/src/dialogManager.ts
  libraries/botbuilder-dialogs/tests/dialogManager.test.js
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic, @microsoft/botbuilder-js-maintainers

fixed tests and updated recordings
  libraries/botbuilder-azure/tests/TestData/CosmosDbPartitionedStorage - Base Storage Tests/create_an_object.json
  libraries/botbuilder-azure/tests/TestData/CosmosDbPartitionedStorage - Base Storage Tests/delete_an_object.json
  libraries/botbuilder-azure/tests/TestData/CosmosDbPartitionedStorage - Base Storage Tests/does_not_throw_when_deleting_an_unknown_object.json
  libraries/botbuilder-azure/tests/TestData/CosmosDbPartitionedStorage - Base Storage Tests/handle_crazy_keys.json
  libraries/botbuilder-azure/tests/TestData/CosmosDbPartitionedStorage - Base Storage Tests/performs_batch_operations.json
  libraries/botbuilder-azure/tests/TestData/CosmosDbPartitionedStorage - Base Storage Tests/proceeds_through_a_waterfall_dialog.json
  libraries/botbuilder-azure/tests/TestData/CosmosDbPartitionedStorage - Base Storage Tests/return_empty_object_when_reading_unknown_key.json
  libraries/botbuilder-azure/tests/TestData/CosmosDbPartitionedStorage - Base Storage Tests/support_using_multiple_containers.json
  libraries/botbuilder-azure/tests/TestData/CosmosDbPartitionedStorage - Base Storage Tests/support_using_multiple_databases.json
  libraries/botbuilder-azure/tests/TestData/CosmosDbPartitionedStorage - Base Storage Tests/update_an_object.json
  libraries/botbuilder-azure/tests/TestData/CosmosDbPartitionedStorage - Constructor Tests/passes_cosmosClientOptions_to_CosmosClient.json
  libraries/botbuilder-azure/tests/cosmosDbPartitionedStorage.test.js
Owners: @microsoft/botbuilder-js-maintainers

added getting latest daily pkg & tagging steps
  libraries/streaming-e2e-tests/streaming-e2e-tests-build.yml
Owners: @microsoft/botbuilder-js-maintainers

fixed typo
  libraries/botbuilder-dialogs-adaptive/src/input/ask.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

Added Microsoft.Ask (#2507)
  libraries/botbuilder-dialogs-adaptive/src/adaptiveDialogComponentRegistration.ts
  libraries/botbuilder-dialogs-adaptive/src/input/ask.ts
  libraries/botbuilder-dialogs-adaptive/src/input/index.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

refine
  .eslintrc.json
  libraries/adaptive-expressions/src/builtinFunctions/dataFunc.ts
  libraries/adaptive-expressions/src/builtinFunctions/exists.ts
  libraries/adaptive-expressions/src/builtinFunctions/index.ts
  libraries/adaptive-expressions/src/builtinFunctions/power.ts
  libraries/adaptive-expressions/src/builtinFunctions/ticks.ts
  libraries/adaptive-expressions/src/builtinFunctions/utcNow.ts
  libraries/adaptive-expressions/src/expressionFunctions.ts
  libraries/adaptive-expressions/src/functionUtils.ts
Owners: @microsoft/botbuilder-js-maintainers, @boydc2014, @chrimc62, @luhan2017, @stevengum, @stevenic

Update libraries/botbuilder-dialogs-adaptive/src/languageGeneratorExtensions.ts
  libraries/botbuilder-dialogs-adaptive/src/languageGeneratorExtensions.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

refine
  libraries/botbuilder-core/src/activityFactory.ts
Owners: @microsoft/botbuilder-js-maintainers

small fix
  libraries/adaptive-expressions/tests/expressionParser.test.js
Owners: @boydc2014, @chrimc62, @luhan2017, @stevengum, @stevenic

fix comments
  libraries/botbuilder-core/src/activityFactory.ts
  libraries/botbuilder-dialogs-adaptive/tests/activityFactory.test.js
Owners: @microsoft/botbuilder-js-maintainers, @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

Fixes CosmosDbPartitionedStorage Tests (#2511)
  libraries/botbuilder-azure/tests/TestData/CosmosDbPartitionedStorage - Base Storage Tests/create_an_object.json
  libraries/botbuilder-azure/tests/TestData/CosmosDbPartitionedStorage - Base Storage Tests/delete_an_object.json
  libraries/botbuilder-azure/tests/TestData/CosmosDbPartitionedStorage - Base Storage Tests/does_not_throw_when_deleting_an_unknown_object.json
  libraries/botbuilder-azure/tests/TestData/CosmosDbPartitionedStorage - Base Storage Tests/handle_crazy_keys.json
  libraries/botbuilder-azure/tests/TestData/CosmosDbPartitionedStorage - Base Storage Tests/performs_batch_operations.json
  libraries/botbuilder-azure/tests/TestData/CosmosDbPartitionedStorage - Base Storage Tests/proceeds_through_a_waterfall_dialog.json
  libraries/botbuilder-azure/tests/TestData/CosmosDbPartitionedStorage - Base Storage Tests/return_empty_object_when_reading_unknown_key.json
  libraries/botbuilder-azure/tests/TestData/CosmosDbPartitionedStorage - Base Storage Tests/support_using_multiple_containers.json
  libraries/botbuilder-azure/tests/TestData/CosmosDbPartitionedStorage - Base Storage Tests/support_using_multiple_databases.json
  libraries/botbuilder-azure/tests/TestData/CosmosDbPartitionedStorage - Base Storage Tests/update_an_object.json
  libraries/botbuilder-azure/tests/TestData/CosmosDbPartitionedStorage - Constructor Tests/passes_cosmosClientOptions_to_CosmosClient.json
  libraries/botbuilder-azure/tests/cosmosDbPartitionedStorage.test.js
  libraries/botbuilder-azure/tests/cosmosDbStorage.test.js
Owners: @microsoft/botbuilder-js-maintainers

[PORT]Refine ActivityFactory (#2481)
  libraries/botbuilder-core/src/activityFactory.ts
  libraries/botbuilder-dialogs-adaptive/tests/activityFactory.test.js
  libraries/botbuilder-dialogs-adaptive/tests/lg/DiagnosticStructuredLG.lg
  libraries/botbuilder-dialogs-adaptive/tests/lg/NormalStructuredLG.lg
Owners: @microsoft/botbuilder-js-maintainers, @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

add telemetryExtensions
  libraries/botbuilder-dialogs-adaptive/src/index.ts
  libraries/botbuilder-dialogs-adaptive/src/recognizers/recognizer.ts
  libraries/botbuilder-dialogs-adaptive/src/telemetryExtensions.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

change trackEvent to trackRecognizerResult
  libraries/botbuilder-dialogs-adaptive/src/luis/luisAdaptiveRecognizer.ts
  libraries/botbuilder-dialogs-adaptive/src/qnaMaker/qnaMakerRecognizer.ts
  libraries/botbuilder-dialogs-adaptive/src/recognizers/crossTrainedRecognizerSet.ts
  libraries/botbuilder-dialogs-adaptive/src/recognizers/multiLanguageRecognizer.ts
  libraries/botbuilder-dialogs-adaptive/src/recognizers/recognizerSet.ts
  libraries/botbuilder-dialogs-adaptive/src/recognizers/regexRecognizer.ts
  libraries/botbuilder-dialogs-adaptive/src/recognizers/valueRecognizer.ts
  libraries/botbuilder-dialogs-adaptive/tests/choiceSet.test.js
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

use static functions instead of extensions
  libraries/botbuilder-dialogs-adaptive/src/index.ts
  libraries/botbuilder-dialogs-adaptive/src/telemetryExtensions.ts
  libraries/botbuilder-dialogs/src/dialogManager.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic, @microsoft/botbuilder-js-maintainers

add locale in userSays
  libraries/adaptive-expressions/src/options.ts
  libraries/botbuilder-core/src/botAdapter.ts
  libraries/botbuilder-dialogs-adaptive-tests/resources/LGGeneratorTests/LocaleInExpr.test.dialog
  libraries/botbuilder-dialogs-adaptive-tests/src/testing/testActions/userSays.ts
  libraries/botbuilder-dialogs-adaptive/src/generators/templateEngineLanguageGenerator.ts
  libraries/botbuilder-lg/src/evaluationOptions.ts
  libraries/botbuilder-lg/src/evaluator.ts
  libraries/botbuilder-lg/src/expander.ts
Owners: @boydc2014, @chrimc62, @luhan2017, @stevengum, @stevenic, @microsoft/botbuilder-js-maintainers, @carlosscastro

bug fix
  libraries/botbuilder-dialogs-adaptive/src/telemetryExtensions.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

del botbuilder-dialogs-adaptive/tests/choiceSet.test.js
  libraries/botbuilder-dialogs-adaptive/tests/choiceSet.test.js
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

bug fix
  libraries/botbuilder-dialogs-adaptive/src/adaptiveDialogComponentRegistration.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

add readableFlowing property to INodeSocket
  libraries/botframework-streaming/src/interfaces/INodeSocket.ts
Owners: @microsoft/botbuilder-js-maintainers

added update bb dependency to latest version stage
  libraries/streaming-e2e-tests/streaming-e2e-tests-build.yml
  libraries/streaming-e2e-tests/test-yaml.yml
Owners: @microsoft/botbuilder-js-maintainers

removing potentially erroring PS script from yml to test
  libraries/streaming-e2e-tests/streaming-e2e-tests-build.yml
  libraries/streaming-e2e-tests/test-yaml.yml
Owners: @microsoft/botbuilder-js-maintainers

testing pieces of bruce's yml
  libraries/streaming-e2e-tests/pieces-of-bruce-yml.yml
Owners: @microsoft/botbuilder-js-maintainers

add readableFlowing property to INodeSocket (#2515)
  libraries/botframework-streaming/src/interfaces/INodeSocket.ts
Owners: @microsoft/botbuilder-js-maintainers

Remove Slack from the list of channels that support Suggested Actions
  libraries/botbuilder-dialogs/src/choices/channel.ts
Owners: @microsoft/botbuilder-js-maintainers

Update pieces-of-bruce-yml.yml for Azure Pipelines
  libraries/streaming-e2e-tests/pieces-of-bruce-yml.yml
Owners: @microsoft/botbuilder-js-maintainers

changed to vmImage for pool
  libraries/streaming-e2e-tests/streaming-e2e-tests-build.yml
  libraries/streaming-e2e-tests/test-yaml.yml
Owners: @microsoft/botbuilder-js-maintainers

Readded Get_Latest_BotBuilderJS_Daily_Version
  libraries/streaming-e2e-tests/streaming-e2e-tests-build.yml
  libraries/streaming-e2e-tests/test-yaml.yml
Owners: @microsoft/botbuilder-js-maintainers
