Repository Microsoft/botbuilder-js, changes with the owners that .github/CODEOWNERS names for each.
All owners: @microsoft/botbuilder-js-maintainers, @boydc2014, @chrimc62, @luhan2017, @stevengum, @stevenic, @carlosscastro, @brucehaley

init
  libraries/adaptive-expressions/src/builtinFunctions/addToTime.ts
  libraries/adaptive-expressions/src/builtinFunctions/convertFromUTC.ts
  libraries/adaptive-expressions/src/builtinFunctions/convertToUTC.ts
  libraries/adaptive-expressions/src/builtinFunctions/dateReadBack.ts
  libraries/adaptive-expressions/src/builtinFunctions/formatEpoch.ts
  libraries/adaptive-expressions/src/builtinFunctions/formatTicks.ts
  libraries/adaptive-expressions/src/builtinFunctions/getFutureTime.ts
  libraries/adaptive-expressions/src/builtinFunctions/getPastTime.ts
  libraries/adaptive-expressions/src/builtinFunctions/getTimeOfDay.ts
  libraries/adaptive-expressions/src/builtinFunctions/startOfDay.ts
  libraries/adaptive-expressions/src/builtinFunctions/startOfHour.ts
  libraries/adaptive-expressions/src/builtinFunctions/startOfMonth.ts
  libraries/adaptive-expressions/src/builtinFunctions/subtractFromTime.ts
  libraries/adaptive-expressions/src/builtinFunctions/ticks.ts
  libraries/adaptive-expressions/src/builtinFunctions/ticksToDays.ts
  libraries/adaptive-expressions/src/builtinFunctions/ticksToHours.ts
  libraries/adaptive-expressions/src/builtinFunctions/ticksToMinutes.ts
  libraries/adaptive-expressions/src/expressionFunctions.ts
  libraries/adaptive-expressions/src/functionUtils.ts
Owners: @boydc2014, @chrimc62, @luhan2017, @stevengum, @stevenic

init
  libraries/adaptive-expressions/src/expressionFunctions.ts
Owners: @boydc2014, @chrimc62, @luhan2017, @stevengum, @stevenic

init
  libraries/adaptive-expressions/src/builtinFunctions/dateTimeDiff.ts
  libraries/adaptive-expressions/src/builtinFunctions/isDate.ts
  libraries/adaptive-expressions/src/builtinFunctions/isDateRange.ts
  libraries/adaptive-expressions/src/builtinFunctions/isDefinite.ts
  libraries/adaptive-expressions/src/builtinFunctions/isDuration.ts
  libraries/adaptive-expressions/src/builtinFunctions/isPresent.ts
  libraries/adaptive-expressions/src/builtinFunctions/isTime.ts
  libraries/adaptive-expressions/src/builtinFunctions/isTimeRange.ts
  libraries/adaptive-expressions/src/builtinFunctions/uriHost.ts
  libraries/adaptive-expressions/src/builtinFunctions/uriPath.ts
  libraries/adaptive-expressions/src/builtinFunctions/uriPathAndQuery.ts
  libraries/adaptive-expressions/src/builtinFunctions/uriPort.ts
  libraries/adaptive-expressions/src/builtinFunctions/uriQuery.ts
  libraries/adaptive-expressions/src/builtinFunctions/uriScheme.ts
  libraries/adaptive-expressions/src/expressionFunctions.ts
Owners: @boydc2014, @chrimc62, @luhan2017, @stevengum, @stevenic

init
  libraries/adaptive-expressions/src/expressionFunctions.ts
Owners: @boydc2014, @chrimc62, @luhan2017, @stevengum, @stevenic

Add statusCodeError unit tests
  libraries/botbuilder/tests/statusCodeError.test.js
Owners: @microsoft/botbuilder-js-maintainers

Encapsulate tests in constructor()
  libraries/botbuilder/tests/statusCodeError.test.js
Owners: @microsoft/botbuilder-js-maintainers

Add unit tests for:
  libraries/botbuilder/tests/botFrameworkAdapter.test.js
Owners: @microsoft/botbuilder-js-maintainers

Return ResourceResponse from SkillHandler.processActivity
  libraries/botbuilder/src/skills/skillHandler.ts
  libraries/botbuilder/tests/skills/skillHandler.test.js
Owners: @microsoft/botbuilder-js-maintainers

Create pipeline BotBuilder-JS-CI-node12-yaml (#2487)
  build/yaml/botbuilder-js-ci-node12.yml
  build/yaml/js-analysis-steps.yml
  build/yaml/js-build-steps.yml
Owners: @brucehaley, @microsoft/botbuilder-js-maintainers

Add onInvokeActivity tests
  libraries/botbuilder/tests/teamsActivityHandler.test.js
Owners: @microsoft/botbuilder-js-maintainers

Add EndOfConversationCodes to EndOfConversation activity from Skill
  libraries/botbuilder-dialogs/src/dialogHelper.ts
  libraries/botbuilder-dialogs/tests/dialogHelper.test.js
Owners: @microsoft/botbuilder-js-maintainers

Add missing unit tests
  libraries/botbuilder/tests/botFrameworkAdapter.test.js
Owners: @microsoft/botbuilder-js-maintainers

Add remaining tests to complete 100% coverage
  libraries/botbuilder/tests/teamsActivityHandler.test.js
Owners: @microsoft/botbuilder-js-maintainers

Delete comment
  libraries/botbuilder/tests/teamsActivityHandler.test.js
Owners: @microsoft/botbuilder-js-maintainers

initial interface change
  libraries/botbuilder-core/src/userTokenProvider.ts
Owners: @microsoft/botbuilder-js-maintainers

Add test for getTokenStatus and update interface
  libraries/botbuilder-core/src/testAdapter.ts
  libraries/botbuilder-core/src/userTokenProvider.ts
  libraries/botbuilder-core/tests/testAdapter.test.js
  libraries/botbuilder-dialogs-adaptive-tests/src/testing/adaptiveTestAdapter.ts
Owners: @microsoft/botbuilder-js-maintainers, @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

init
  libraries/botbuilder-core/src/botAdapter.ts
  libraries/botbuilder-core/src/turnContext.ts
  libraries/botbuilder-dialogs-adaptive-tests/resources/LGGeneratorTests/LocaleInExpr.test.dialog
  libraries/botbuilder-dialogs-adaptive-tests/src/lgGenerators.test.ts
  libraries/botbuilder-dialogs-adaptive/src/generators/templateEngineLanguageGenerator.ts
  libraries/botbuilder-lg/src/evaluationOptions.ts
Owners: @microsoft/botbuilder-js-maintainers, @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

Fix TeamsActivityHandler to capture errors properly (#2483)
  libraries/botbuilder/tests/teamsActivityHandler.test.js
Owners: @microsoft/botbuilder-js-maintainers

fix comments
  libraries/botbuilder-dialogs-adaptive/src/actions/beginSkill.ts
  libraries/botbuilder-dialogs-adaptive/src/actions/httpRequest.ts
  libraries/botbuilder-dialogs-adaptive/src/actions/logAction.ts
  libraries/botbuilder-dialogs-adaptive/src/actions/sendActivity.ts
  libraries/botbuilder-dialogs-adaptive/src/actions/updateActivity.ts
  libraries/botbuilder-dialogs-adaptive/src/input/inputDialog.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

implemented RegisterClassMiddleware
  libraries/botbuilder-core/src/registerClassMiddleware.ts
Owners: @microsoft/botbuilder-js-maintainers

added useBotState in adaptive extensions
  libraries/botbuilder-core/src/adapterExtensions.ts
  libraries/botbuilder-core/src/index.ts
Owners: @microsoft/botbuilder-js-maintainers

let test script use bot state
  libraries/botbuilder-dialogs-adaptive-tests/src/testing/testScript.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

convert comments on Dialog.onDIalogEvent() to TSDoc (#2462)
  libraries/botbuilder-dialogs/src/dialog.ts
Owners: @microsoft/botbuilder-js-maintainers

Add null checks for activity
  libraries/botbuilder-core/src/telemetryLoggerMiddleware.ts
Owners: @microsoft/botbuilder-js-maintainers

Added additional null checks
  libraries/botbuilder-core/src/telemetryLoggerMiddleware.ts
Owners: @microsoft/botbuilder-js-maintainers

Increase code coverage in botbuilder library - StatusCodeError class (#2494)
  libraries/botbuilder/tests/statusCodeError.test.js
Owners: @microsoft/botbuilder-js-maintainers

Add tests for teamsInfo class
  libraries/botbuilder/src/teamsInfo.ts
  libraries/botbuilder/tests/teamsInfo.test.js
Owners: @microsoft/botbuilder-js-maintainers

Fix string that was missed in PR #2476
  libraries/teams-scenarios/taskModule/src/taskModuleBot.ts
Owners: @microsoft/botbuilder-js-maintainers

Remove async suffix from functions in internal classes
  libraries/botbuilder-ai/src/luisRecognizer.ts
  libraries/botbuilder-ai/src/luisRecognizerOptions.ts
  libraries/botbuilder-ai/src/luisRecognizerOptionsV2.ts
  libraries/botbuilder-ai/src/luisRecognizerOptionsV3.ts
  libraries/botbuilder-ai/src/qnaMaker.ts
  libraries/botbuilder-ai/src/qnamaker-utils/trainUtils.ts
Owners: @microsoft/botbuilder-js-maintainers

Add unit tests for botFrameworkHttpClient class (#2485)
  libraries/botbuilder/tests/botFrameworkHttpClient.test.js
Owners: @microsoft/botbuilder-js-maintainers

export LuisTelemetryConstants from botbuilder-ai
  libraries/botbuilder-ai/src/index.ts
  libraries/botbuilder-ai/src/luisTelemetryConstants.ts
Owners: @microsoft/botbuilder-js-maintainers

add event in actions: actionScope, beginDialog, repeatDialog, replaceDialog
  libraries/botbuilder-dialogs-adaptive/src/actions/actionScope.ts
  libraries/botbuilder-dialogs-adaptive/src/actions/beginDialog.ts
  libraries/botbuilder-dialogs-adaptive/src/actions/repeatDialog.ts
  libraries/botbuilder-dialogs-adaptive/src/actions/replaceDialog.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

add luis event
  libraries/botbuilder-dialogs-adaptive/src/adaptiveDialogComponentRegistration.ts
  libraries/botbuilder-dialogs-adaptive/src/luis/luisAdaptiveRecognizer.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

add telemetryClient in DialogManager
  libraries/botbuilder-dialogs/src/dialogManager.ts
Owners: @microsoft/botbuilder-js-maintainers

add trackEvent in AdaptiveDialog
  libraries/botbuilder-dialogs-adaptive/src/adaptiveDialog.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

add params and function in recognize;
  libraries/botbuilder-dialogs-adaptive/src/recognizers/recognizer.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

add event in recognizers
  libraries/botbuilder-dialogs-adaptive/src/qnaMaker/qnaMakerRecognizer.ts
  libraries/botbuilder-dialogs-adaptive/src/recognizers/crossTrainedRecognizerSet.ts
  libraries/botbuilder-dialogs-adaptive/src/recognizers/multiLanguageRecognizer.ts
  libraries/botbuilder-dialogs-adaptive/src/recognizers/recognizerSet.ts
  libraries/botbuilder-dialogs-adaptive/src/recognizers/regexRecognizer.ts
  libraries/botbuilder-dialogs-adaptive/src/recognizers/valueRecognizer.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

remove useless package
  libraries/botbuilder-dialogs-adaptive/src/recognizers/recognizer.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

refine
  libraries/adaptive-expressions/src/builtinFunctions/and.ts
  libraries/adaptive-expressions/src/builtinFunctions/coalesce.ts
  libraries/adaptive-expressions/src/builtinFunctions/element.ts
  libraries/adaptive-expressions/src/builtinFunctions/getProperty.ts
  libraries/adaptive-expressions/src/builtinFunctions/not.ts
  libraries/adaptive-expressions/src/builtinFunctions/or.ts
  libraries/adaptive-expressions/src/builtinFunctions/startOfDay.ts
  libraries/adaptive-expressions/src/builtinFunctions/startOfHour.ts
  libraries/adaptive-expressions/src/builtinFunctions/startOfMonth.ts
  libraries/adaptive-expressions/src/builtinFunctions/uriHost.ts
  libraries/adaptive-expressions/src/builtinFunctions/where.ts
Owners: @boydc2014, @chrimc62, @luhan2017, @stevengum, @stevenic

Refactor interface:Recognizer to class:Recognizer
  libraries/botbuilder-dialogs-adaptive/src/luis/luisAdaptiveRecognizer.ts
  libraries/botbuilder-dialogs-adaptive/src/qnaMaker/qnaMakerRecognizer.ts
  libraries/botbuilder-dialogs-adaptive/src/recognizers/crossTrainedRecognizerSet.ts
  libraries/botbuilder-dialogs-adaptive/src/recognizers/multiLanguageRecognizer.ts
  libraries/botbuilder-dialogs-adaptive/src/recognizers/recognizer.ts
  libraries/botbuilder-dialogs-adaptive/src/recognizers/recognizerSet.ts
  libraries/botbuilder-dialogs-adaptive/src/recognizers/regexRecognizer.ts
  libraries/botbuilder-dialogs-adaptive/src/recognizers/valueRecognizer.ts
Owners: @boydc2014, @carlosscastro, @chrimc62, @luhan2017, @stevengum, @stevenic

.github/CODEOWNERS:

# global
* @microsoft/botbuilder-js-maintainers

# Adaptive/LG
/libraries/adaptive-expressions/**/* @boydc2014 @chrimc62 @luhan2017 @stevengum @stevenic
/libraries/botbuilder-lg/**/* @boydc2014 @chrimc62 @luhan2017 @stevengum @stevenic
/libraries/botbuilder-dialogs-*/**/* @boydc2014 @carlosscastro @chrimc62 @luhan2017 @stevengum @stevenic

# For all public API changes
/libraries/*/etc/* @microsoft/botbuilder-js-maintainers

# For maintenance of shipped packages dependencies and devDependencies
# Codeowners should use tools such as https://bundlephobia.com/
/libraries/*/package.json @microsoft/botbuilder-js-maintainers

# build pipelines
/build/yaml/**/* @brucehaley @microsoft/botbuilder-js-maintainers
