Repository microsoft/botbuilder-js, pull requests merged in 2019-10, with the labels that each got.

#1223 Create ActivityHandlerBase, rewrite ActivityHandler for increased extensibility points
  libraries/botbuilder-core/src/activityHandler.ts
  libraries/botbuilder-core/src/activityHandlerBase.ts
  libraries/botbuilder-core/src/index.ts
  libraries/botbuilder-core/tests/ActivityHandler.test.js
  libraries/botbuilder-core/tests/activityHandlerBase.test.js
Labels: 4.6

#1252 [Teams] Add message reaction bot
  libraries/botbuilder-core/src/activityHandler.ts
  libraries/botbuilder/tests/teams/messageReaction/.env
  libraries/botbuilder/tests/teams/messageReaction/package.json
  libraries/botbuilder/tests/teams/messageReaction/src/activityLog.ts
  libraries/botbuilder/tests/teams/messageReaction/src/index.ts
  libraries/botbuilder/tests/teams/messageReaction/src/messageReactionBot.ts
  libraries/botbuilder/tests/teams/messageReaction/teams-app-manifest/icon-color.png
  libraries/botbuilder/tests/teams/messageReaction/teams-app-manifest/icon-outline.png
  libraries/botbuilder/tests/teams/messageReaction/teams-app-manifest/manifest.json
  libraries/botbuilder/tests/teams/messageReaction/tsconfig.json
Labels: 4.6, teams

#1253 [Teams] Add TeamsInfo helper class, minor fix in ConversationUpdateBot scenario
  libraries/botbuilder/src/botFrameworkAdapter.ts
  libraries/botbuilder/src/index.ts
  libraries/botbuilder/src/teamsInfo.ts
  libraries/botbuilder/tests/teams/conversationUpdate/src/conversationUpdateBot.ts
Labels: 4.6, teams

#1250 [Teams] ComposeMessageExtensionAuthBot teams scenario
  libraries/botbuilder/tests/teams/composeMessagingExtensionAuth/.env
  libraries/botbuilder/tests/teams/composeMessagingExtensionAuth/package.json
  libraries/botbuilder/tests/teams/composeMessagingExtensionAuth/src/composeMessagingExtensionAuthBot.ts
  libraries/botbuilder/tests/teams/composeMessagingExtensionAuth/src/index.ts
  libraries/botbuilder/tests/teams/composeMessagingExtensionAuth/teams-app-manifest/color.png
  libraries/botbuilder/tests/teams/composeMessagingExtensionAuth/teams-app-manifest/manifest.json
  libraries/botbuilder/tests/teams/composeMessagingExtensionAuth/teams-app-manifest/outline.png
  libraries/botbuilder/tests/teams/composeMessagingExtensionAuth/tsconfig.json
Labels: 4.6, teams

#1265 [Teams] Add composeMessagingExtensionBot
  libraries/botbuilder/src/teamsActivityHandler.ts
  libraries/botbuilder/tests/teams/composeMessagingExtensions/.env
  libraries/botbuilder/tests/teams/composeMessagingExtensions/package.json
  libraries/botbuilder/tests/teams/composeMessagingExtensions/src/composeMessagingExtensionsBot.ts
  libraries/botbuilder/tests/teams/composeMessagingExtensions/src/index.ts
  libraries/botbuilder/tests/teams/composeMessagingExtensions/teams-app-manifest/color.png
  libraries/botbuilder/tests/teams/composeMessagingExtensions/teams-app-manifest/manifest.json
  libraries/botbuilder/tests/teams/composeMessagingExtensions/teams-app-manifest/outline.png
  libraries/botbuilder/tests/teams/composeMessagingExtensions/tsconfig.json
Labels: 4.6, teams

#1267 [Teams] Add search based messaging extension from samples (thanks Steven!)
  libraries/botbuilder/tests/teams/searchBasedMessagingExtension/.env
  libraries/botbuilder/tests/teams/searchBasedMessagingExtension/README.md
  libraries/botbuilder/tests/teams/searchBasedMessagingExtension/package.json
  libraries/botbuilder/tests/teams/searchBasedMessagingExtension/src/index.ts
  libraries/botbuilder/tests/teams/searchBasedMessagingExtension/src/teamsSearchExtensionBot.ts
  libraries/botbuilder/tests/teams/searchBasedMessagingExtension/static/composeExtensionSettings.html
  libraries/botbuilder/tests/teams/searchBasedMessagingExtension/teams-app-manifest/icon-color.png
  libraries/botbuilder/tests/teams/searchBasedMessagingExtension/teams-app-manifest/icon-outline.png
  libraries/botbuilder/tests/teams/searchBasedMessagingExtension/teams-app-manifest/manifest.json
  libraries/botbuilder/tests/teams/searchBasedMessagingExtension/tsconfig.json
Labels: 4.6, teams

#1258 [Teams] Port of ActionBasedMessagingExtension Fetch Task
  libraries/botbuilder/src/teamsActivityHandler.ts
  libraries/botbuilder/src/teamsTurnContextHelpers.ts
  libraries/botbuilder/tests/teams/actionBasedMessagingExtension-fetchTask/.env
  libraries/botbuilder/tests/teams/actionBasedMessagingExtension-fetchTask/package.json
  libraries/botbuilder/tests/teams/actionBasedMessagingExtension-fetchTask/src/actionBasedMessagingExtensionFetchBot.ts
  libraries/botbuilder/tests/teams/actionBasedMessagingExtension-fetchTask/src/adaptiveCardHelper.ts
  libraries/botbuilder/tests/teams/actionBasedMessagingExtension-fetchTask/src/cardResponseHelpers.ts
  libraries/botbuilder/tests/teams/actionBasedMessagingExtension-fetchTask/src/index.ts
  libraries/botbuilder/tests/teams/actionBasedMessagingExtension-fetchTask/src/submitExampleData.ts
  libraries/botbuilder/tests/teams/actionBasedMessagingExtension-fetchTask/teams-app-manifest/icon-color.png
  libraries/botbuilder/tests/teams/actionBasedMessagingExtension-fetchTask/teams-app-manifest/icon-outline.png
  libraries/botbuilder/tests/teams/actionBasedMessagingExtension-fetchTask/teams-app-manifest/manifest.json
  libraries/botbuilder/tests/teams/actionBasedMessagingExtension-fetchTask/tsconfig.json
  libraries/botbuilder/tests/teamsHelpers.test.js
Labels: 4.6, teams

#1255 [Teams] Office365 Connector Card Scenario
  libraries/botbuilder-core/src/cardFactory.ts
  libraries/botbuilder-core/tests/cardFactory.test.js
  libraries/botbuilder/tests/teams/office365Card/.env
  libraries/botbuilder/tests/teams/office365Card/package.json
  libraries/botbuilder/tests/teams/office365Card/src/index.ts
  libraries/botbuilder/tests/teams/office365Card/src/office365CardsBot.ts
  libraries/botbuilder/tests/teams/office365Card/teams-app-manifest/color.png
  libraries/botbuilder/tests/teams/office365Card/teams-app-manifest/manifest.json
  libraries/botbuilder/tests/teams/office365Card/teams-app-manifest/outline.png
  libraries/botbuilder/tests/teams/office365Card/tsconfig.json
  libraries/botframework-schema/src/teams/index.ts
Labels: 4.6, teams

#1260 [Teams] Add update and delete bot scenario
  libraries/botbuilder-core/tests/turnContext.test.js
  libraries/botbuilder/tests/teams/activityUpdateAndDelete/.env
  libraries/botbuilder/tests/teams/activityUpdateAndDelete/package.json
  libraries/botbuilder/tests/teams/activityUpdateAndDelete/src/activityUpdateAndDeleteBot.ts
  libraries/botbuilder/tests/teams/activityUpdateAndDelete/src/index.ts
  libraries/botbuilder/tests/teams/activityUpdateAndDelete/teams-app-manifest/color.png
  libraries/botbuilder/tests/teams/activityUpdateAndDelete/teams-app-manifest/manifest.json
  libraries/botbuilder/tests/teams/activityUpdateAndDelete/teams-app-manifest/outline.png
  libraries/botbuilder/tests/teams/activityUpdateAndDelete/tsconfig.json
Labels: 4.6, teams

#1269 [Teams] Add reply to channel bot
  libraries/botbuilder/src/teamsActivityHelpers.ts
  libraries/botbuilder/tests/teams/replyToChannel/.env
  libraries/botbuilder/tests/teams/replyToChannel/package.json
  libraries/botbuilder/tests/teams/replyToChannel/src/index.ts
  libraries/botbuilder/tests/teams/replyToChannel/src/replyToChannelBot.ts
  libraries/botbuilder/tests/teams/replyToChannel/teams-app-manifest/icon-color.png
  libraries/botbuilder/tests/teams/replyToChannel/teams-app-manifest/icon-outline.png
  libraries/botbuilder/tests/teams/replyToChannel/teams-app-manifest/manifest.json
  libraries/botbuilder/tests/teams/replyToChannel/tsconfig.json
Labels: 4.6, teams

#1271 Delete unused `-teams` packages, update lerna.json & package.json
  lerna.json
  libraries/botbuilder-teams/.gitignore
  libraries/botbuilder-teams/.nycrc
  libraries/botbuilder-teams/README.md
  libraries/botbuilder-teams/package.json
  libraries/botbuilder-teams/src/index.ts
  libraries/botbuilder-teams/src/module1.ts
  libraries/botbuilder-teams/tests/test1.test.js
  libraries/botbuilder-teams/tsconfig.json
  libraries/botframework-connector-teams/.gitignore
  libraries/botframework-connector-teams/.nycrc
  libraries/botframework-connector-teams/README.md
  libraries/botframework-connector-teams/package.json
  libraries/botframework-connector-teams/src/index.ts
  libraries/botframework-connector-teams/src/module1.ts
  libraries/botframework-connector-teams/tests/test1.test.js
  libraries/botframework-connector-teams/tsconfig.json
  libraries/botframework-schema-teams/.gitignore
  libraries/botframework-schema-teams/.nycrc
  libraries/botframework-schema-teams/README.md
  libraries/botframework-schema-teams/package.json
  libraries/botframework-schema-teams/src/index.ts
  libraries/botframework-schema-teams/src/module1.ts
  libraries/botframework-schema-teams/tests/test1.test.js
  libraries/botframework-schema-teams/tsconfig.json
  package.json
Labels: 4.6

#1191 Add support for structured LG template
  libraries/botbuilder-lg/src/LGFileLexer.g4
  libraries/botbuilder-lg/src/LGFileParser.g4
  libraries/botbuilder-lg/src/evaluator.ts
  libraries/botbuilder-lg/src/generated/LGFileLexer.ts
  libraries/botbuilder-lg/src/generated/LGFileParser.ts
  libraries/botbuilder-lg/src/generated/LGFileParserListener.ts
  libraries/botbuilder-lg/src/generated/LGFileParserVisitor.ts
  libraries/botbuilder-lg/src/staticChecker.ts
  libraries/botbuilder-lg/src/templateEngine.ts
  libraries/botbuilder-lg/tests/lg.test.js
  libraries/botbuilder-lg/tests/templateEngineThrowException.test.js
  libraries/botbuilder-lg/tests/testData/examples/StructuredTemplate.lg
  libraries/botbuilder-lg/tests/testData/exceptionExamples/ErrorStructuredTemplate.lg
Labels: adaptive

#1272 [Teams] Fix names of Messaging Extension projects
  libraries/botbuilder/tests/teams/composeMessagingExtensionAuth/teams-app-manifest/manifest.json
  libraries/botbuilder/tests/teams/composeMessagingExtensions/teams-app-manifest/manifest.json
  libraries/botbuilder/tests/teams/messagingExtensionAuth/.env
  libraries/botbuilder/tests/teams/messagingExtensionAuth/package.json
  libraries/botbuilder/tests/teams/messagingExtensionAuth/src/index.ts
  libraries/botbuilder/tests/teams/messagingExtensionAuth/src/messagingExtensionAuthBot.ts
  libraries/botbuilder/tests/teams/messagingExtensionAuth/teams-app-manifest/color.png
  libraries/botbuilder/tests/teams/messagingExtensionAuth/teams-app-manifest/manifest.json
  libraries/botbuilder/tests/teams/messagingExtensionAuth/teams-app-manifest/outline.png
  libraries/botbuilder/tests/teams/messagingExtensionAuth/tsconfig.json
  libraries/botbuilder/tests/teams/messagingExtensionConfig/.env
  libraries/botbuilder/tests/teams/messagingExtensionConfig/package.json
  libraries/botbuilder/tests/teams/messagingExtensionConfig/src/index.ts
  libraries/botbuilder/tests/teams/messagingExtensionConfig/src/messagingExtensionConfigBot.ts
  libraries/botbuilder/tests/teams/messagingExtensionConfig/teams-app-manifest/color.png
  libraries/botbuilder/tests/teams/messagingExtensionConfig/teams-app-manifest/manifest.json
  libraries/botbuilder/tests/teams/messagingExtensionConfig/teams-app-manifest/outline.png
  libraries/botbuilder/tests/teams/messagingExtensionConfig/tsconfig.json
Labels: 4.6, teams

#1274 [Teams] add tests and mocks for TeamsInfo
  libraries/botbuilder/tests/teamsInfo.test.js
Labels: 4.6, teams

#1283 [Teams] Lint Teams scenarios, minor refactor
  libraries/botbuilder/tests/teams/actionBasedMessagingExtension-fetchTask/package.json
  libraries/botbuilder/tests/teams/actionBasedMessagingExtension-fetchTask/src/actionBasedMessagingExtensionFetchBot.ts
  libraries/botbuilder/tests/teams/actionBasedMessagingExtension-fetchTask/src/adaptiveCardHelper.ts
  libraries/botbuilder/tests/teams/actionBasedMessagingExtension-fetchTask/src/cardResponseHelpers.ts
  libraries/botbuilder/tests/teams/actionBasedMessagingExtension-fetchTask/src/index.ts
  libraries/botbuilder/tests/teams/actionBasedMessagingExtension-fetchTask/src/submitExampleData.ts
  libraries/botbuilder/tests/teams/actionBasedMessagingExtension-fetchTask/tslint.json
  libraries/botbuilder/tests/teams/actionBasedMessagingExtension/package.json
  libraries/botbuilder/tests/teams/actionBasedMessagingExtension/src/actionBasedMessagingExtensionBot.ts
  libraries/botbuilder/tests/teams/actionBasedMessagingExtension/src/index.ts
  libraries/botbuilder/tests/teams/actionBasedMessagingExtension/tslint.json
  libraries/botbuilder/tests/teams/activityUpdateAndDelete/package.json
  libraries/botbuilder/tests/teams/activityUpdateAndDelete/src/activityUpdateAndDeleteBot.ts
  libraries/botbuilder/tests/teams/activityUpdateAndDelete/src/index.ts
  libraries/botbuilder/tests/teams/activityUpdateAndDelete/tslint.json
  libraries/botbuilder/tests/teams/adaptiveCards/package.json
  libraries/botbuilder/tests/teams/adaptiveCards/src/adaptiveCardsBot.ts
  libraries/botbuilder/tests/teams/adaptiveCards/src/index.ts
  libraries/botbuilder/tests/teams/adaptiveCards/tslint.json
  libraries/botbuilder/tests/teams/cardBotFramework/package.json
  libraries/botbuilder/tests/teams/cardBotFramework/src/cardsBot.ts
  libraries/botbuilder/tests/teams/cardBotFramework/src/index.ts
  libraries/botbuilder/tests/teams/cardBotFramework/tslint.json
Labels: teams

#1270 Add IStreamingTransportClient to exports
  libraries/botframework-streaming-extensions/src/index.ts
Labels: Streaming Extensions

#1275 [Teams] add more TeamsInfo tests
  libraries/botbuilder/src/teamsActivityHandler.ts
  libraries/botbuilder/tests/teamsActivityHandler.test.js
  libraries/botbuilder/tests/teamsInfo.test.js
Labels: 4.6, teams

#1305 [Teams] Update onTeamsMessagingExtensionFetchTask() & add tests for TeamsActivityHandler
  libraries/botbuilder/src/teamsActivityHandler.ts
  libraries/botbuilder/tests/teams/actionBasedMessagingExtension-fetchTask/src/actionBasedMessagingExtensionFetchBot.ts
  libraries/botbuilder/tests/teams/actionBasedMessagingExtension/src/actionBasedMessagingExtensionBot.ts
  libraries/botbuilder/tests/teams/messagingExtensionAuth/src/messagingExtensionAuthBot.ts
  libraries/botbuilder/tests/teamsActivityHandler.test.js
Labels: 4.6, teams

#1308 [Teams] Part of Teams Hackathon Feedback
  libraries/botbuilder/src/botFrameworkAdapter.ts
  libraries/botbuilder/src/teamsActivityHandler.ts
  libraries/botbuilder/src/teamsActivityHelpers.ts
  libraries/botbuilder/src/teamsInfo.ts
  libraries/botbuilder/src/teamsTurnContextHelpers.ts
  libraries/botbuilder/tests/teams/adaptiveCards/src/adaptiveCardsBot.ts
  libraries/botbuilder/tests/teams/messagingExtensionAuth/src/messagingExtensionAuthBot.ts
  libraries/botbuilder/tests/teams/taskModule/src/taskModuleBot.ts
  libraries/botbuilder/tests/teamsActivityHandler.test.js
  libraries/botbuilder/tests/teamsHelpers.test.js
Labels: 4.6, teams

#1311 [Teams] Add teamsTenantFilteringMiddleware to roster bot scenario
  libraries/botbuilder/tests/teams/roster/.env
  libraries/botbuilder/tests/teams/roster/src/index.ts
  libraries/botbuilder/tests/teams/roster/src/teamsTenantFilteringMiddleware.ts
Labels: 4.6, teams

#1315 [Teams] Rename onTeams*-Invoke methods to handleTeams*, add TeamsInfo.getTeamMembers
  libraries/botbuilder/src/teamsActivityHandler.ts
  libraries/botbuilder/src/teamsInfo.ts
  libraries/botbuilder/tests/teams/actionBasedMessagingExtension-fetchTask/src/actionBasedMessagingExtensionFetchBot.ts
  libraries/botbuilder/tests/teams/actionBasedMessagingExtension/src/actionBasedMessagingExtensionBot.ts
  libraries/botbuilder/tests/teams/adaptiveCards/src/adaptiveCardsBot.ts
  libraries/botbuilder/tests/teams/fileUpload/src/fileUploadBot.ts
  libraries/botbuilder/tests/teams/link-unfurling/src/linkUnfurling.ts
  libraries/botbuilder/tests/teams/messagingExtensionAuth/src/messagingExtensionAuthBot.ts
  libraries/botbuilder/tests/teams/messagingExtensionConfig/src/messagingExtensionConfigBot.ts
  libraries/botbuilder/tests/teams/office365Card/src/office365CardsBot.ts
  libraries/botbuilder/tests/teams/roster/src/rosterBot.ts
  libraries/botbuilder/tests/teams/searchBasedMessagingExtension/src/teamsSearchExtensionBot.ts
  libraries/botbuilder/tests/teams/taskModule/src/taskModuleBot.ts
  libraries/botbuilder/tests/teamsActivityHandler.test.js
  libraries/botbuilder/tests/teamsInfo.test.js
Labels: 4.6, teams

#1331 [Streaming] create NodeWebSocketFactory, refactor code, new tests
  libraries/botbuilder/src/botFrameworkAdapter.ts
  libraries/botbuilder/tests/botFrameworkStreamingAdapter.test.js
  libraries/botframework-streaming/src/index.ts
  libraries/botframework-streaming/src/webSocket/factories/index.ts
  libraries/botframework-streaming/src/webSocket/factories/nodeWebSocketFactory.ts
  libraries/botframework-streaming/src/webSocket/factories/nodeWebSocketFactoryBase.ts
  libraries/botframework-streaming/src/webSocket/index.ts
  libraries/botframework-streaming/src/webSocket/nodeWebSocket.ts
  libraries/botframework-streaming/tests/NodeWebSocket.test.js
  libraries/botframework-streaming/tests/NodeWebSocketFactory.test.js
  libraries/botframework-streaming/tests/WebSocket.test.js
  libraries/botframework-streaming/tests/helpers/fauxSock.js
  libraries/botframework-streaming/tests/helpers/index.js
  libraries/botframework-streaming/tests/helpers/testRequest.js
Labels: 4.6, Streaming Extensions

#1334 [Streaming] Add working ws websocket implementation for Node environment
  libraries/botframework-streaming/package.json
  libraries/botframework-streaming/src/index.ts
  libraries/botframework-streaming/src/interfaces/ISocket.ts
  libraries/botframework-streaming/src/webSocket/browserWebSocket.ts
  libraries/botframework-streaming/src/webSocket/factories/index.ts
  libraries/botframework-streaming/src/webSocket/factories/nodeWebSocketFactory.ts
  libraries/botframework-streaming/src/webSocket/factories/wsNodeWebSocketFactory.ts
  libraries/botframework-streaming/src/webSocket/index.ts
  libraries/botframework-streaming/src/webSocket/nodeWebSocket.ts
  libraries/botframework-streaming/src/webSocket/webSocketTransport.ts
  libraries/botframework-streaming/src/webSocket/wsNodeWebSocket.ts
  libraries/botframework-streaming/tests/NodeWebSocket.test.js
  libraries/botframework-streaming/tests/WebSocket.test.js
  libraries/botframework-streaming/tests/helpers/fauxSock.js
  libraries/botframework-streaming/tests/helpers/testRequest.js
  libraries/botframework-streaming/tests/wsNodeWebSocket.test.js
Labels: 4.6, Streaming Extensions

#1232 Change TS output to ES6 for all libraries
  libraries/botbuilder-ai/tsconfig.json
  libraries/botbuilder-applicationinsights/tsconfig.json
  libraries/botbuilder-azure/tsconfig.json
  libraries/botbuilder-core/package.json
  libraries/botbuilder-core/src/testAdapter.ts
  libraries/botbuilder-core/tsconfig.json
  libraries/botbuilder-dialogs/tsconfig.json
  libraries/botbuilder-testing/tsconfig.json
  libraries/botbuilder/tsconfig.json
  libraries/botframework-config/tsconfig.json
  libraries/botframework-connector/tsconfig.json
  libraries/botframework-schema/tsconfig.json
  libraries/botframework-streaming/tsconfig.json
Labels: 4.6

#1264 Update typedoc comments
  libraries/botbuilder-core/src/activityHandler.ts
  libraries/botbuilder-core/src/activityHandlerBase.ts
  libraries/botbuilder-core/src/botAdapter.ts
  libraries/botbuilder-core/src/cardFactory.ts
  libraries/botbuilder-core/src/turnContext.ts
  libraries/botbuilder-dialogs/src/dialogContext.ts
  libraries/botbuilder/src/botFrameworkAdapter.ts
Labels: Docs

#1338 [Streaming] Auth and browser compatibility fixes, linting, refactoring
  libraries/botbuilder/src/botFrameworkAdapter.ts
  libraries/botbuilder/tests/botFrameworkAdapter.test.js
  libraries/botframework-streaming/src/webSocket/nodeWebSocket.ts
  libraries/botframework-streaming/src/webSocket/wsNodeWebSocket.ts
Labels: 4.6, Streaming Extensions

#1349 Update typeDoc comments for DialogContext
  libraries/botbuilder-core/src/turnContext.ts
  libraries/botbuilder-dialogs/src/dialogContext.ts
Labels: Docs

#1367 [4.6] cherry-pick #1363 CosmosClientOptions fix
  libraries/botbuilder-azure/src/cosmosDbPartitionedStorage.ts
  libraries/botbuilder-azure/tests/TestData/CosmosDbPartitionedStorage/should_correctly_proceed_through_a_waterfall_dialog.json
  libraries/botbuilder-azure/tests/TestData/CosmosDbPartitionedStorage/should_create_an_object.json
  libraries/botbuilder-azure/tests/TestData/CosmosDbPartitionedStorage/should_delete_an_object.json
  libraries/botbuilder-azure/tests/TestData/CosmosDbPartitionedStorage/should_handle_crazy_keys.json
  libraries/botbuilder-azure/tests/TestData/CosmosDbPartitionedStorage/should_not_throw_when_deleting_unknown_object.json
  libraries/botbuilder-azure/tests/TestData/CosmosDbPartitionedStorage/should_throw_on_invalid_options.json
  libraries/botbuilder-azure/tests/TestData/CosmosDbPartitionedStorage/should_update_an_object.json
  libraries/botbuilder-azure/tests/cosmosDbPartitionedStorage.test.js
Labels: 4.6

#1368 Fix @types/lru-cache missing in dependency
  libraries/botframework-expressions/package.json
Labels: R7, adaptive, bug

#1377 [LG] Parity with C#
  libraries/botbuilder-lg/src/evaluator.ts
  libraries/botbuilder-lg/src/expander.ts
  libraries/botbuilder-lg/src/staticChecker.ts
  libraries/botbuilder-lg/tests/testData/exceptionExamples/ErrorStructuredTemplate.lg
Labels: Parity_with_C#

#1376 [Streaming-Preview] Cleanup, refactor & merge StreamingAdapter into BotFrameworkAdapter
  libraries/botbuilder/src/botFrameworkAdapter.ts
  libraries/botbuilder/src/index.ts
  libraries/botbuilder/src/streaming/index.ts
  libraries/botbuilder/src/streaming/streamingAdapter.ts
  libraries/botbuilder/tests/botFrameworkAdapterStreaming.test.js
  libraries/botbuilder/tests/tokenResolver.test.js
Labels: R7, Streaming Extensions
