Repository microsoft/botbuilder-js, pull requests merged in 2019-12, with the labels that each got.

#1433 [Streaming, Preview] rewrite useWebSocket for low-level usage, remove from processActivity
  libraries/botbuilder-ai/package.json
  libraries/botbuilder-applicationinsights/package.json
  libraries/botbuilder-azure/package.json
  libraries/botbuilder-core/package.json
  libraries/botbuilder-core/src/skypeMentionNormalizeMiddleware.ts
  libraries/botbuilder-dialogs/package.json
  libraries/botbuilder-testing/package.json
  libraries/botbuilder/package.json
  libraries/botbuilder/src/botFrameworkAdapter.ts
  libraries/botbuilder/tests/streaming/botFrameworkAdapterStreaming.test.js
  libraries/botbuilder/tests/streaming/mockHttpRequest.js
  libraries/botbuilder/tests/streaming/mockNetSocket.js
  libraries/botframework-config/package.json
  libraries/botframework-connector/package.json
  libraries/botframework-schema/package.json
  libraries/botframework-streaming/package.json
  libraries/botframework-streaming/src/index.ts
  libraries/botframework-streaming/src/interfaces/INodeBuffer.ts
  libraries/botframework-streaming/src/interfaces/INodeIncomingMessage.ts
  libraries/botframework-streaming/src/interfaces/INodeSocket.ts
  libraries/botframework-streaming/src/interfaces/index.ts
  libraries/botframework-streaming/src/webSocket/factories/nodeWebSocketFactory.ts
  libraries/botframework-streaming/src/webSocket/factories/nodeWebSocketFactoryBase.ts
  libraries/botframework-streaming/src/webSocket/nodeWebSocket.ts
  package.json
  transcripts/package.json
Labels: R7, Streaming Extensions

#1448 [Skills] Add BFHttpClient, ChannelServiceHandler & necessary Auth pieces for Skills
  libraries/botbuilder/package.json
  libraries/botbuilder/src/botFrameworkAdapter.ts
  libraries/botbuilder/src/botFrameworkHttpClient.ts
  libraries/botbuilder/src/channelServiceHandler.ts
  libraries/botbuilder/src/index.ts
  libraries/botbuilder/tests/channelServiceHandler.test.js
  libraries/botframework-connector/src/auth/authenticationConfiguration.ts
  libraries/botframework-connector/src/auth/claimsIdentity.ts
  libraries/botframework-connector/src/auth/index.ts
  libraries/botframework-connector/src/auth/jwtTokenValidation.ts
  libraries/botframework-connector/tests/auth.test.js
  libraries/botframework-streaming/tests/streamingAdatper.test.js
Labels: P0, R7, Skills

#1461 [Skills] Add SkillValidation class
  libraries/botbuilder-dialogs/src/prompts/skillsHelpers.ts
  libraries/botbuilder-dialogs/tests/internalSkillHelpers.test.js
  libraries/botframework-connector/src/auth/emulatorValidation.ts
  libraries/botframework-connector/src/auth/index.ts
  libraries/botframework-connector/src/auth/jwtTokenExtractor.ts
  libraries/botframework-connector/src/auth/jwtTokenValidation.ts
  libraries/botframework-connector/src/auth/microsoftAppCredentials.ts
  libraries/botframework-connector/src/auth/skillValidation.ts
  libraries/botframework-connector/tests/appCredentials.test.js
  libraries/botframework-connector/tests/auth.test.js
  libraries/botframework-connector/tests/skillValidation.test.js
Labels: Skills

#1470 [Skills] Use AuthenticationConfiguration
  libraries/botframework-connector/src/auth/channelValidation.ts
  libraries/botframework-connector/src/auth/emulatorValidation.ts
  libraries/botframework-connector/src/auth/enterpriseChannelValidation.ts
  libraries/botframework-connector/src/auth/governmentChannelValidation.ts
  libraries/botframework-connector/src/auth/jwtTokenExtractor.ts
  libraries/botframework-connector/src/auth/jwtTokenValidation.ts
Labels: Skills

#1451 Inputs Refactor, Fix HttpRequest, Add More Samples
  libraries/botbuilder-dialogs-adaptive/src/actions/deleteProperty.ts
  libraries/botbuilder-dialogs-adaptive/src/actions/httpRequest.ts
  libraries/botbuilder-dialogs-adaptive/src/expressionProperty.ts
  libraries/botbuilder-dialogs-adaptive/src/input/attachmentInput.ts
  libraries/botbuilder-dialogs-adaptive/src/input/choiceInput.ts
  libraries/botbuilder-dialogs-adaptive/src/input/confirmInput.ts
  libraries/botbuilder-dialogs-adaptive/src/input/datetimeInput.ts
  libraries/botbuilder-dialogs-adaptive/src/input/inputDialog.ts
  libraries/botbuilder-dialogs-adaptive/src/input/numberInput.ts
  libraries/botbuilder-dialogs-adaptive/src/input/oauthInput.ts
  libraries/botbuilder-dialogs-adaptive/src/input/textInput.ts
  samples/11. datetimeInput/lib/index.d.ts
  samples/11. datetimeInput/lib/index.js
  samples/11. datetimeInput/package.json
  samples/11. datetimeInput/src/index.ts
  samples/11. datetimeInput/tsconfig.json
  samples/12. httpRequest/lib/index.d.ts
  samples/12. httpRequest/lib/index.js
  samples/12. httpRequest/package.json
  samples/12. httpRequest/src/index.ts
  samples/12. httpRequest/tsconfig.json
Labels: adaptive

#1473 [Skills] add skill support in BotFrameworkAdapter
  libraries/botbuilder/src/botFrameworkAdapter.ts
Labels: Skills

#1481 [Skills] Refactor BFAdapter for Skills with Auth
  libraries/botbuilder/src/botFrameworkAdapter.ts
  libraries/botbuilder/tests/botFrameworkAdapter.test.js
  libraries/botframework-connector/src/auth/appCredentials.ts
  libraries/botframework-connector/src/auth/skillValidation.ts
Labels: Skills

#1488 [Streaming] change isConnected() to a getter
  libraries/botframework-streaming/src/interfaces/ITransport.ts
  libraries/botframework-streaming/src/namedPipe/namedPipeTransport.ts
  libraries/botframework-streaming/src/webSocket/webSocketTransport.ts
  libraries/botframework-streaming/tests/NamedPipe.test.js
  libraries/botframework-streaming/tests/WebSocket.test.js
Labels: Streaming Extensions

#1482 [Skills] add SkillHandler & SkillConversationIdFactoryBase classes
  libraries/botbuilder-dialogs/src/prompts/oauthPrompt.ts
  libraries/botbuilder-dialogs/src/prompts/skillsHelpers.ts
  libraries/botbuilder-dialogs/tests/internalSkillHelpers.test.js
  libraries/botbuilder-dialogs/tests/oauthPrompt.test.js
  libraries/botbuilder/src/botFrameworkHttpClient.ts
  libraries/botbuilder/src/channelServiceRoutes.ts
  libraries/botbuilder/src/index.ts
  libraries/botbuilder/src/skills/botFrameworkSkill.ts
  libraries/botbuilder/src/skills/index.ts
  libraries/botbuilder/src/skills/skillConversationIdFactoryBase.ts
  libraries/botbuilder/src/skills/skillHandler.ts
  libraries/botbuilder/src/skills/skillHttpClient.ts
  libraries/botbuilder/tests/botFrameworkHttpClient.test.js
  libraries/botbuilder/tests/skills/skillHandler.test.js
  libraries/botbuilder/tests/skills/skillHttpClient.test.js
Labels: Skills

#1476 Add ResourceExplorer
  libraries/botbuilder-ai/package-lock.json
  libraries/botbuilder-dialogs-adaptive/package-lock.json
  libraries/botbuilder-dialogs-adaptive/src/actions/httpRequest.ts
  libraries/botbuilder-dialogs-adaptive/src/actions/sendList.ts
  libraries/botbuilder-dialogs-adaptive/src/input/attachmentInput.ts
  libraries/botbuilder-dialogs-adaptive/src/input/choiceInput.ts
  libraries/botbuilder-dialogs-adaptive/src/input/confirmInput.ts
  libraries/botbuilder-dialogs-adaptive/src/input/datetimeInput.ts
  libraries/botbuilder-dialogs-adaptive/src/input/inputDialog.ts
  libraries/botbuilder-dialogs-adaptive/src/input/numberInput.ts
  libraries/botbuilder-dialogs-adaptive/src/input/textInput.ts
  libraries/botbuilder-dialogs-declarative/package.json
  libraries/botbuilder-dialogs-declarative/src/factory/typeFactory.ts
  libraries/botbuilder-dialogs-declarative/src/index.ts
  libraries/botbuilder-dialogs-declarative/src/pathUtil.ts
  libraries/botbuilder-dialogs-declarative/src/resources/fileResourceProvider.ts
  libraries/botbuilder-dialogs-declarative/src/resources/folderResoureProvider.ts
  libraries/botbuilder-dialogs-declarative/src/resources/resourceExplorer.ts
  libraries/botbuilder-dialogs-declarative/src/resources/resourceProvider.ts
  libraries/botbuilder-dialogs-declarative/src/typeLoader.ts
  libraries/botbuilder-dialogs-declarative/tests/resourceExplorer.test.js
  libraries/botbuilder-dialogs-declarative/tests/resourceProvider.test.js
  libraries/botbuilder-dialogs-declarative/tests/resources/01 - Steps/Steps.main.dialog
  libraries/botbuilder-dialogs-declarative/tests/resources/02 - EndTurn/EndTurn.main.dialog
  libraries/botbuilder-dialogs-declarative/tests/resources/03 - IfCondition/IfCondition.main.dialog
  libraries/botbuilder-dialogs-declarative/tests/resources/04 - TextInput/NumberInput.main.dialog
  libraries/botbuilder-dialogs-declarative/tests/resources/04 - TextInput/TextInput.main.dialog
  libraries/botbuilder-dialogs-declarative/tests/resources/05 - WelcomeRule/WelcomeRule.main.dialog
  libraries/botbuilder-dialogs-declarative/tests/resources/06 - DoSteps/DoSteps.main.dialog
  libraries/botbuilder-dialogs-declarative/tests/resources/07 - BeginDialog/BeginDialog.FortuneTellerDialog.dialog
  libraries/botbuilder-dialogs-declarative/tests/resources/07 - BeginDialog/BeginDialog.TellJokeDialog.dialog
  libraries/botbuilder-dialogs-declarative/tests/resources/07 - BeginDialog/BeginDialog.main.dialog
  libraries/botbuilder-dialogs-declarative/tests/resources/08 - ExternalLanguage/ExternalLanguage.FortuneTeller.dialog
  libraries/botbuilder-dialogs-declarative/tests/resources/08 - ExternalLanguage/ExternalLanguage.Greeting.dialog
  libraries/botbuilder-dialogs-declarative/tests/resources/08 - ExternalLanguage/ExternalLanguage.TellJoke.dialog
  libraries/botbuilder-dialogs-declarative/tests/resources/08 - ExternalLanguage/ExternalLanguage.main.dialog
  libraries/botbuilder-dialogs-declarative/tests/resources/08 - ExternalLanguage/ExternalLanguage.main.lg
  libraries/botbuilder-dialogs-declarative/tests/resources/09 - EndDialog/EndDialog.TellJoke.dialog
  libraries/botbuilder-dialogs-declarative/tests/resources/09 - EndDialog/EndDialog.main.dialog
  libraries/botbuilder-dialogs-declarative/tests/resources/10 - ChoiceInput/ChoiceInput.main.dialog
  libraries/botbuilder-dialogs-declarative/tests/resources/11 - HttpRequest/HttpRequest.main.dialog
  libraries/botbuilder-dialogs-declarative/tests/resources/12 - GithubIssueBot/GithubIssueBot.main.dialog
  libraries/botbuilder-dialogs-declarative/tests/resources/13 - CustomStep/CustomStep.dialog
  libraries/botbuilder-dialogs-declarative/tests/resources/14 - RepeatDialog/RepeatDialog.main.dialog
  libraries/botbuilder-dialogs-declarative/tests/typeLoader.test.js
  libraries/botbuilder-lg/package-lock.json
  libraries/botframework-expressions/package-lock.json
  samples/51.declarative/lib/index.d.ts
  samples/51.declarative/lib/index.js
  samples/51.declarative/package.json
  samples/51.declarative/src/index.ts
  samples/51.declarative/tsconfig.json
Labels: adaptive
