Repository microsoft/botbuilder-js, pull requests merged in 2020-04, with the labels that each got.

#1978 [PORT]Fix missing trailing line break
  libraries/botbuilder-lg/src/template.ts
  libraries/botbuilder-lg/src/templates.ts
Labels: lg

#2004 Use v5 API host in QnAMakerDialog or construct v4 API host
  libraries/botbuilder-ai/src/qnaMaker.ts
  libraries/botbuilder-ai/src/qnaMakerDialog.ts
  libraries/botbuilder-ai/src/qnamaker-interfaces/qnamakerEndpoint.ts
  libraries/botbuilder-ai/tests/qnaMakerDialog.test.js
Labels: P0, R9

#1962 Add @microsoft/api-extractor to detect public API changes
  .gitattributes
  .github/CODEOWNERS
  .gitignore
  libraries/adaptive-expressions/package.json
  libraries/botbuilder-ai/api-extractor.json
  libraries/botbuilder-ai/etc/botbuilder-ai.api.md
  libraries/botbuilder-ai/package.json
  libraries/botbuilder-applicationinsights/api-extractor.json
  libraries/botbuilder-applicationinsights/etc/botbuilder-applicationinsights.api.md
  libraries/botbuilder-applicationinsights/package.json
  libraries/botbuilder-azure/api-extractor.json
  libraries/botbuilder-azure/etc/botbuilder-azure.api.md
  libraries/botbuilder-azure/package.json
  libraries/botbuilder-core/api-extractor.json
  libraries/botbuilder-core/etc/botbuilder-core.api.md
  libraries/botbuilder-core/package.json
  libraries/botbuilder-dialogs/api-extractor.json
  libraries/botbuilder-dialogs/etc/botbuilder-dialogs.api.md
  libraries/botbuilder-dialogs/package.json
  libraries/botbuilder-lg/package.json
  libraries/botbuilder-testing/api-extractor.json
  libraries/botbuilder-testing/etc/botbuilder-testing.api.md
  libraries/botbuilder-testing/package.json
  libraries/botbuilder/api-extractor.json
  libraries/botbuilder/etc/botbuilder.api.md
  libraries/botbuilder/package.json
  libraries/botbuilder/src/botFrameworkAdapter.ts
  libraries/botbuilder/src/fileTranscriptStore.ts
  libraries/botframework-config/api-extractor.json
  libraries/botframework-config/etc/botframework-config.api.md
  libraries/botframework-config/package.json
  libraries/botframework-connector/package.json
  libraries/botframework-schema/api-extractor.json
  libraries/botframework-schema/etc/botframework-schema.api.md
  libraries/botframework-schema/package.json
  libraries/botframework-schema/src/teams/extension/index.ts
  libraries/botframework-schema/src/teams/index.ts
  libraries/botframework-streaming/api-extractor.json
  libraries/botframework-streaming/etc/botframework-streaming.api.md
  libraries/botframework-streaming/package.json
  package.json
Labels: Engineering

#2029 [Adaptive] QnAMakerRecognizer and OnQnAMatch
  libraries/botbuilder-ai/src/qnamaker-interfaces/index.ts
  libraries/botbuilder-dialogs-adaptive-tests/.gitignore
  libraries/botbuilder-dialogs-adaptive-tests/package.json
  libraries/botbuilder-dialogs-adaptive-tests/resources/QnAMakerRecognizerTests/QnAMakerRecognizerTests_ReturnsAnswer.test.dialog
  libraries/botbuilder-dialogs-adaptive-tests/resources/QnAMakerRecognizerTests/QnAMakerRecognizerTests_ReturnsAnswerWithIntent.test.dialog
  libraries/botbuilder-dialogs-adaptive-tests/resources/QnAMakerRecognizerTests/QnAMakerRecognizerTests_ReturnsNoAnswer.test.dialog
  libraries/botbuilder-dialogs-adaptive-tests/resources/QnAMakerRecognizerTests/QnaMaker_ReturnsAnswer.json
  libraries/botbuilder-dialogs-adaptive-tests/resources/QnAMakerRecognizerTests/QnaMaker_ReturnsAnswerWithIntent.json
  libraries/botbuilder-dialogs-adaptive-tests/resources/QnAMakerRecognizerTests/QnaMaker_ReturnsNoAnswer.json
  libraries/botbuilder-dialogs-adaptive-tests/src/action.test.ts
  libraries/botbuilder-dialogs-adaptive-tests/src/actionScope.test.ts
  libraries/botbuilder-dialogs-adaptive-tests/src/conditionals.test.ts
  libraries/botbuilder-dialogs-adaptive-tests/src/crossTrainedRecognizerSet.test.ts
  libraries/botbuilder-dialogs-adaptive-tests/src/multiLanguageRecognizer.test.ts
  libraries/botbuilder-dialogs-adaptive-tests/src/qnaMakerRecognizer.test.ts
  libraries/botbuilder-dialogs-adaptive-tests/src/recognizerSet.test.ts
  libraries/botbuilder-dialogs-adaptive-tests/src/regexRecognizer.test.ts
  libraries/botbuilder-dialogs-adaptive-tests/src/testScript.test.ts
  libraries/botbuilder-dialogs-adaptive-tests/src/testing/testRunner.ts
  libraries/botbuilder-dialogs-adaptive-tests/src/valueRecognizer.test.ts
  libraries/botbuilder-dialogs-adaptive-tests/tsconfig.json
  libraries/botbuilder-dialogs-adaptive/package.json
  libraries/botbuilder-dialogs-adaptive/src/actions/forEachPage.ts
  libraries/botbuilder-dialogs-adaptive/src/adaptiveDialog.ts
  libraries/botbuilder-dialogs-adaptive/src/adaptiveDialogComponentRegistration.ts
  libraries/botbuilder-dialogs-adaptive/src/conditions/index.ts
  libraries/botbuilder-dialogs-adaptive/src/conditions/onCondition.ts
  libraries/botbuilder-dialogs-adaptive/src/conditions/onQnAMatch.ts
  libraries/botbuilder-dialogs-adaptive/src/converters/index.ts
  libraries/botbuilder-dialogs-adaptive/src/converters/intExpressionConverter.ts
  libraries/botbuilder-dialogs-adaptive/src/index.ts
  libraries/botbuilder-dialogs-adaptive/src/input/inputDialog.ts
  libraries/botbuilder-dialogs-adaptive/src/input/oauthInput.ts
  libraries/botbuilder-dialogs-adaptive/src/qnaMaker/index.ts
  libraries/botbuilder-dialogs-adaptive/src/qnaMaker/qnaMakerRecognizer.ts
  libraries/botbuilder-dialogs-adaptive/src/recognizers/crossTrainedRecognizerSet.ts
  libraries/botbuilder-dialogs-adaptive/src/recognizers/multiLanguageRecognizer.ts
  libraries/botbuilder-dialogs-adaptive/src/recognizers/recognizer.ts
  libraries/botbuilder-dialogs-adaptive/src/recognizers/recognizerSet.ts
  libraries/botbuilder-dialogs-adaptive/src/recognizers/regexRecognizer.ts
  libraries/botbuilder-dialogs-adaptive/src/recognizers/valueRecognizer.ts
  libraries/botbuilder-dialogs-adaptive/tests/qna/QnaMaker_ReturnsAnswer.json
  libraries/botbuilder-dialogs-adaptive/tests/qna/QnaMaker_ReturnsAnswerWithIntent.json
  libraries/botbuilder-dialogs-adaptive/tests/qna/QnaMaker_ReturnsNoAnswer.json
  libraries/botbuilder-dialogs-adaptive/tests/qna/QnaMaker_TopNAnswer.json
  libraries/botbuilder-dialogs-adaptive/tests/qnaMakerRecognizer.test.js
  libraries/botbuilder-dialogs-adaptive/tests/recognizer.test.js
Labels: adaptive

#2047 InputDialog: fallback to .value if there is no .text in dc.context.activity
  libraries/botbuilder-dialogs-adaptive/src/input/inputDialog.ts
Labels: adaptive

#2048 Fixed AttachmentInput
  libraries/botbuilder-dialogs-adaptive-tests/resources/ActionTests/Action_AttachmentInput.test.dialog
  libraries/botbuilder-dialogs-adaptive-tests/src/action.test.ts
  libraries/botbuilder-dialogs-adaptive/src/input/inputDialog.ts
Labels: adaptive

#2049 Added test case for CancelAllDialogs
  libraries/botbuilder-dialogs-adaptive-tests/resources/ActionTests/Action_CancelAllDialogs.test.dialog
  libraries/botbuilder-dialogs-adaptive-tests/src/action.test.ts
  libraries/botbuilder-dialogs-adaptive/src/actions/cancelAllDialogs.ts
Labels: adaptive
