Repository microsoft/botbuilder-js, pull requests merged in 2020-09, with the labels that each got.

#2774 Allow calling an event driven dialog
  libraries/botbuilder-dialogs-adaptive/src/adaptiveDialog.ts
Labels: Area: Adaptive

#2552 [PORT]Support deep data binding for some properties
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/ActionTests/Action_SetProperties.test.dialog
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/ActionTests/Action_SetProperty.test.dialog
  libraries/botbuilder-dialogs-adaptive/src/actions/baseInvokeDialog.ts
  libraries/botbuilder-dialogs-adaptive/src/actions/endDialog.ts
  libraries/botbuilder-dialogs-adaptive/src/actions/httpRequest.ts
  libraries/botbuilder-dialogs-adaptive/src/actions/setProperties.ts
  libraries/botbuilder-dialogs-adaptive/src/actions/setProperty.ts
  libraries/botbuilder-dialogs-adaptive/src/jsonExtensions.ts
Labels: Area: Adaptive, Porting

#2693 [PORT]Add fullName to resource class and keep resource consistent across lg…
  libraries/botbuilder-dialogs-adaptive/src/generators/languageGeneratorManager.ts
  libraries/botbuilder-dialogs-adaptive/src/generators/templateEngineLanguageGenerator.ts
  libraries/botbuilder-dialogs-adaptive/tests/LGGenerator.test.js
  libraries/botbuilder-dialogs-declarative/src/resources/fileResource.ts
  libraries/botbuilder-dialogs-declarative/src/resources/resource.ts
  libraries/botbuilder-lg/src/index.ts
  libraries/botbuilder-lg/src/lgResource.ts
  libraries/botbuilder-lg/src/staticChecker.ts
  libraries/botbuilder-lg/src/templates.ts
  libraries/botbuilder-lg/src/templatesParser.ts
  libraries/botbuilder-lg/tests/MultilanguageLGTest.js
  libraries/botbuilder-lg/tests/lg.test.js
  libraries/botbuilder-lg/tests/lgDiagnostic.test.js
Labels: Porting

#2778 [PORT] Allow the activity only with channelData property in sendActivity action
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/ActionTests/Action_SendActivity.test.dialog
  libraries/botbuilder-dialogs-adaptive/src/actions/sendActivity.ts
  libraries/botbuilder-dialogs-adaptive/src/converters/activityTemplateConverter.ts
Labels: Porting

#2777 [PORT][LG] Add CacheScope option
  libraries/botbuilder-lg/src/evaluationOptions.ts
  libraries/botbuilder-lg/src/evaluationTarget.ts
  libraries/botbuilder-lg/src/evaluator.ts
  libraries/botbuilder-lg/tests/lg.test.js
  libraries/botbuilder-lg/tests/testData/examples/ReExecute.lg
  libraries/botbuilder-lg/tests/testData/examples/TemplateCache.lg
Labels: Porting

#2758 Enabled api-extractor in adaptive/declarative/adaptive-testing packages
  libraries/botbuilder-dialogs-adaptive-testing/api-extractor.json
  libraries/botbuilder-dialogs-adaptive-testing/etc/botbuilder-dialogs-adaptive-testing.api.md
  libraries/botbuilder-dialogs-adaptive-testing/package.json
  libraries/botbuilder-dialogs-adaptive-testing/tsconfig.json
  libraries/botbuilder-dialogs-adaptive/api-extractor.json
  libraries/botbuilder-dialogs-adaptive/etc/botbuilder-dialogs-adaptive.api.md
  libraries/botbuilder-dialogs-adaptive/package.json
  libraries/botbuilder-dialogs-adaptive/tsconfig.json
  libraries/botbuilder-dialogs-declarative/api-extractor.json
  libraries/botbuilder-dialogs-declarative/etc/botbuilder-dialogs-declarative.api.md
  libraries/botbuilder-dialogs-declarative/package.json
  libraries/botbuilder-dialogs-declarative/tsconfig.json
Labels: Area: Adaptive

#2784 Restructure adaptive-expressions tests
  libraries/adaptive-expressions/tests/badExpression.test.js
  libraries/adaptive-expressions/tests/expressionParser.test.js
  libraries/adaptive-expressions/tests/expressionProperty.test.ts
Labels: Area: Adaptive expression, Area: Testing framework, technical-debt

#2772 Change autoEndDialog to BoolExpression
  libraries/botbuilder-dialogs-adaptive/src/adaptiveDialog.ts
  libraries/botbuilder-dialogs-adaptive/src/adaptiveDialogComponentRegistration.ts
Labels: Area: Adaptive
