Repository microsoft/botbuilder-js, pull requests merged in 2020-02, with the labels that each got.

#1627 [Streaming] add generic socket closure handling
  libraries/botbuilder/src/botFrameworkAdapter.ts
  libraries/botbuilder/src/streaming/streamingHttpClient.ts
  libraries/botbuilder/tests/streaming/botFrameworkAdapterStreaming.test.js
  libraries/botbuilder/tests/streaming/streamingHttpClient.test.js
  libraries/botframework-streaming/src/interfaces/IStreamingTransportServer.ts
  libraries/botframework-streaming/src/namedPipe/namedPipeServer.ts
  libraries/botframework-streaming/src/webSocket/webSocketServer.ts
  libraries/botframework-streaming/tests/NamedPipe.test.js
  libraries/botframework-streaming/tests/WebSocket.test.js
Labels: Streaming Extensions

#1664 [Cherry-pick to master] add generic socket closure handling
  libraries/botbuilder/src/botFrameworkAdapter.ts
  libraries/botbuilder/src/streaming/streamingHttpClient.ts
  libraries/botbuilder/tests/streaming/botFrameworkAdapterStreaming.test.js
  libraries/botbuilder/tests/streaming/streamingHttpClient.test.js
  libraries/botframework-streaming/src/interfaces/IStreamingTransportServer.ts
  libraries/botframework-streaming/src/namedPipe/namedPipeServer.ts
  libraries/botframework-streaming/src/webSocket/webSocketServer.ts
  libraries/botframework-streaming/tests/NamedPipe.test.js
  libraries/botframework-streaming/tests/WebSocket.test.js
Labels: Streaming Extensions

#1356 Update typeDoc comments in dialog.ts
  libraries/botbuilder-dialogs/src/dialog.ts
  libraries/botbuilder-dialogs/src/dialogContext.ts
Labels: Docs

#1620 Update activityHandler.ts
  libraries/botbuilder-core/src/activityHandler.ts
Labels: Docs

#1789 Updating Teams Types
  libraries/botframework-schema/src/teams/extension/index.ts
  libraries/botframework-schema/src/teams/index.ts
Labels: R8, teams

#1823 ci: add auto tagging
  .github/workflows/main.yml
Labels: Engineering, R8
