Repository microsoft/botbuilder-js, pull requests merged in 2020-06, with the labels that each got.

#2201 Adaptive dialogs bug fix
  libraries/botbuilder-dialogs-adaptive-tests/resources/ActionTests/Action_HttpRequest.test.dialog
  libraries/botbuilder-dialogs-adaptive-tests/resources/ActionTests/HttpRequest_Response.json
  libraries/botbuilder-dialogs-adaptive-tests/resources/LuisAdaptiveRecognizerTests/DynamicLists.test.dialog
  libraries/botbuilder-dialogs-adaptive-tests/resources/LuisAdaptiveRecognizerTests/DynamicLists.test.en-us.lu.dialog
  libraries/botbuilder-dialogs-adaptive-tests/resources/LuisAdaptiveRecognizerTests/DynamicLists.test.lu
  libraries/botbuilder-dialogs-adaptive-tests/resources/LuisAdaptiveRecognizerTests/DynamicLists.test.lu.dialog
  libraries/botbuilder-dialogs-adaptive-tests/resources/LuisAdaptiveRecognizerTests/SimpleIntentEntity.en-us.lu.dialog
  libraries/botbuilder-dialogs-adaptive-tests/resources/LuisAdaptiveRecognizerTests/SimpleIntentEntity.lu.dialog
  libraries/botbuilder-dialogs-adaptive-tests/resources/LuisAdaptiveRecognizerTests/SimpleIntentEntity.test.dialog
  libraries/botbuilder-dialogs-adaptive-tests/resources/LuisAdaptiveRecognizerTests/responses/DynamicLists_a.json
  libraries/botbuilder-dialogs-adaptive-tests/resources/LuisAdaptiveRecognizerTests/responses/DynamicLists_one.json
  libraries/botbuilder-dialogs-adaptive-tests/resources/LuisAdaptiveRecognizerTests/responses/DynamicLists_three.json
  libraries/botbuilder-dialogs-adaptive-tests/resources/LuisAdaptiveRecognizerTests/responses/DynamicLists_word1.json
  libraries/botbuilder-dialogs-adaptive-tests/resources/LuisAdaptiveRecognizerTests/responses/SingleIntent_SimpleEntity.json
  libraries/botbuilder-dialogs-adaptive-tests/src/action.test.ts
  libraries/botbuilder-dialogs-adaptive-tests/src/luisAdaptiveRecognizer.test.ts
  libraries/botbuilder-dialogs-adaptive/src/actions/httpRequest.ts
  libraries/botbuilder-dialogs-adaptive/src/adaptiveDialogComponentRegistration.ts
  libraries/botbuilder-dialogs-adaptive/src/converters/index.ts
  libraries/botbuilder-dialogs-adaptive/src/converters/multiLanguageRecognizerConverter.ts
  libraries/botbuilder-dialogs-adaptive/src/converters/recognizerConverter.ts
  libraries/botbuilder-dialogs-adaptive/src/index.ts
  libraries/botbuilder-dialogs-adaptive/src/input/attachmentInput.ts
  libraries/botbuilder-dialogs-adaptive/src/input/choiceInput.ts
  libraries/botbuilder-dialogs-adaptive/src/input/confirmInput.ts
  libraries/botbuilder-dialogs-adaptive/src/input/dateTimeInput.ts
  libraries/botbuilder-dialogs-adaptive/src/input/numberInput.ts
  libraries/botbuilder-dialogs-adaptive/src/input/oauthInput.ts
  libraries/botbuilder-dialogs-adaptive/src/input/textInput.ts
  libraries/botbuilder-dialogs-adaptive/src/recognizers/multiLanguageRecognizer.ts
  libraries/botbuilder-dialogs-adaptive/src/recognizers/regexRecognizer.ts
Labels: R10

#2299 fixed foreach empty issue
  libraries/botbuilder-dialogs-adaptive-tests/resources/ActionTests/Action_Foreach_Empty.test.dialog
  libraries/botbuilder-dialogs-adaptive-tests/src/action.test.ts
  libraries/botbuilder-dialogs-adaptive/src/actions/actionScope.ts
Labels: Adaptive, R10

#2306 Allow nested foreach/foreachpage
  libraries/botbuilder-dialogs-adaptive-tests/resources/ActionTests/Action_ForeachPage_Nested.test.dialog
  libraries/botbuilder-dialogs-adaptive-tests/resources/ActionTests/Action_Foreach_Nested.test.dialog
  libraries/botbuilder-dialogs-adaptive-tests/src/action.test.ts
  libraries/botbuilder-dialogs-adaptive/src/actions/forEach.ts
  libraries/botbuilder-dialogs-adaptive/src/actions/forEachPage.ts
  libraries/botbuilder-dialogs-adaptive/src/adaptiveDialogComponentRegistration.ts
Labels: Adaptive

#2143 Add choice set
  libraries/botbuilder-dialogs-adaptive/package.json
  libraries/botbuilder-dialogs-adaptive/src/input/choiceInput.ts
  libraries/botbuilder-dialogs-adaptive/src/input/choiceSet.ts
  libraries/botbuilder-dialogs-adaptive/src/input/confirmInput.ts
  libraries/botbuilder-dialogs-adaptive/src/input/index.ts
  libraries/botbuilder-dialogs-adaptive/tests/choiceSet.test.ts
Labels: Adaptive

#2300 fixed repeat dialog options
  libraries/botbuilder-dialogs-adaptive-tests/resources/ActionTests/Action_RepeatDialog.test.dialog
  libraries/botbuilder-dialogs-adaptive/src/actions/repeatDialog.ts
Labels: Adaptive
