Repository microsoft/botbuilder-js, pull requests merged in 2020-12, with the labels that each got.

#3112 Fixed timeout in OAuthInput
  libraries/botbuilder-dialogs-adaptive/src/input/oauthInput.ts
Labels: Area: Adaptive

#3105 Register container dialogs in DialogManager
  libraries/botbuilder-dialogs-adaptive-testing/tests/action.test.js
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/ActionTests/Action_ReplaceDialogDifferentLevel.test.dialog
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/ActionTests/Action_ReplaceDialogRecursive.test.dialog
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/ActionTests/Action_ReplaceDialogRoot.test.dialog
  libraries/botbuilder-dialogs-adaptive/src/actions/replaceDialog.ts
  libraries/botbuilder-dialogs-adaptive/tests/adaptiveDialog.test.js
  libraries/botbuilder-dialogs/src/dialogManager.ts
  libraries/botbuilder-dialogs/src/dialogSet.ts
  libraries/botbuilder-dialogs/tests/dialogManager.test.js
Labels: Area: Adaptive

#3131 fix: add tags to browser CI resource groups
  libraries/browser-functional-tests/browser-tests-build-ci.yml
Labels: Area: Engineering

#3081 New action: ThrowException
  libraries/botbuilder-dialogs-adaptive-testing/tests/action.test.js
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/ActionTests/Action_ThrowException.test.dialog
  libraries/botbuilder-dialogs-adaptive/src/actions/index.ts
  libraries/botbuilder-dialogs-adaptive/src/actions/throwException.ts
  libraries/botbuilder-dialogs-adaptive/src/adaptiveComponentRegistration.ts
  libraries/botbuilder-dialogs/src/dialogContextError.ts
Labels: Area: Adaptive

#3141 feat: cycle references support
  libraries/botbuilder-dialogs-declarative/src/resources/resourceExplorer.ts
  libraries/botbuilder-dialogs-declarative/tests/resourceExplorer.test.js
  libraries/botbuilder-dialogs-declarative/tests/resources/CycleDetection/child.dialog
  libraries/botbuilder-dialogs-declarative/tests/resources/CycleDetection/root.dialog
  libraries/botbuilder-dialogs/src/dialogContainer.ts
  libraries/botbuilder-dialogs/src/dialogManager.ts
  libraries/botbuilder-dialogs/src/dialogSet.ts
Labels: Area: Adaptive

#3151 feat: replaced entityRecognizers with externalEntityRecognizer in OrchestratorAdaptiveRecognizer
  libraries/botbuilder-ai-orchestrator/package.json
  libraries/botbuilder-ai-orchestrator/src/orchestratorAdaptiveRecognizer.ts
  libraries/botbuilder-ai-orchestrator/src/orchestratorRecognizer.ts
  libraries/botbuilder-ai-orchestrator/tests/mockResolver.js
  libraries/botbuilder-ai-orchestrator/tests/orchestratorAdaptiveRecognizer.test.js
  libraries/botbuilder-dialogs-adaptive/src/recognizers/crossTrainedRecognizerSet.ts
  libraries/botbuilder-dialogs/src/recognizer.ts
  yarn.lock
Labels: Area: AI-Orchestrator
