Repository microsoft/botbuilder-js, pull requests merged in 2021-02, with the labels that each got.

#3230 fix: update access modifiers in QnAMakerDialog
  libraries/botbuilder-ai/src/index.ts
  libraries/botbuilder-ai/src/qnaMaker.ts
  libraries/botbuilder-ai/src/qnaMakerDialog.ts
  libraries/botbuilder-ai/src/qnaMakerRecognizer.ts
  libraries/botbuilder-ai/src/qnamaker-interfaces/rankerTypes.ts
  libraries/botbuilder-ai/src/qnamaker-utils/bindToActivity.ts
  libraries/botbuilder-ai/src/qnamaker-utils/index.ts
  libraries/botbuilder-ai/tests/.env
  libraries/botbuilder-ai/tests/TestData/QnAMakerDialog/should_log_telemetry_that_includes_question_and_username_if_logPersonalInformation_is_true.json
  libraries/botbuilder-ai/tests/qnaMakerDialog.test.js
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/QnAMakerRecognizerTests/QnAMakerRecognizerTests_ReturnsAnswer.test.dialog
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/QnAMakerRecognizerTests/QnAMakerRecognizerTests_ReturnsAnswerWithIntent.test.dialog
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/QnAMakerRecognizerTests/QnAMakerRecognizerTests_ReturnsNoAnswer.test.dialog
Labels: Area: AI-QnAMaker

#3278 feat: Mock QnAMaker via http request mocks
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/TestScriptTests/HttpRequestMock/httpqnaanswer.mock.dialog
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/TestScriptTests/HttpRequestMock/httpqnaintent.mock.dialog
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/TestScriptTests/HttpRequestMock/httpqnalevel1.mock.dialog
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/TestScriptTests/HttpRequestMock/httpqnanoanswer.mock.dialog
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/TestScriptTests/HttpRequestMock/httpqnaprompts.mock.dialog
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/TestScriptTests/HttpRequestMock/httpqnatopnanswer.mock.dialog
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/TestScriptTests/TestScriptTests_HttpRequestQnAMakerDialogMock.test.dialog
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/TestScriptTests/TestScriptTests_HttpRequestQnAMakerRecognizerMock.test.dialog
  libraries/botbuilder-dialogs-adaptive-testing/tests/testScript.test.js
  libraries/botbuilder-dialogs-declarative/src/resources/resourceExplorer.ts
Labels: Area: AI-QnAMaker

#3250 feat: adaptive dialog functions
  libraries/botbuilder-dialogs-adaptive-testing/tests/functions.test.js
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/FunctionsTests/hasPendingActions.test.dialog
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/FunctionsTests/isDialogActive.test.dialog
  libraries/botbuilder-dialogs-adaptive/src/adaptiveComponentRegistration.ts
  libraries/botbuilder-dialogs-adaptive/src/functions/hasPendingActionsFunction.ts
  libraries/botbuilder-dialogs-adaptive/src/functions/index.ts
  libraries/botbuilder-dialogs-adaptive/src/functions/isDialogActiveFunction.ts
  libraries/botbuilder-dialogs-adaptive/src/index.ts
Labels: Area: Adaptive, Area: Adaptive expression

#3279 fix: correct QnAMaker response types and expose error from server
  libraries/botbuilder-ai/src/qnamaker-utils/generateAnswerUtils.ts
  libraries/botbuilder-ai/src/qnamaker-utils/httpRequestUtils.ts
  libraries/botbuilder-ai/tests/qnaMaker.test.js
Labels: Area: AI-QnAMaker

#3283 feat: Added GetConversationReference/ContinueConversation actions
  libraries/botbuilder-core/src/queueStorage.ts
  libraries/botbuilder-dialogs-adaptive/schemas/Actions/Microsoft.ContinueConversation.schema
  libraries/botbuilder-dialogs-adaptive/schemas/Actions/Microsoft.GetConversationReference.schema
  libraries/botbuilder-dialogs-adaptive/src/actions/continueConversation.ts
  libraries/botbuilder-dialogs-adaptive/src/actions/continueConversationLater.ts
  libraries/botbuilder-dialogs-adaptive/src/actions/getConversationReference.ts
  libraries/botbuilder-dialogs-adaptive/src/actions/index.ts
  libraries/botbuilder-dialogs-adaptive/src/adaptiveComponentRegistration.ts
  libraries/botbuilder-dialogs-adaptive/tests/conversationAction.test.js
Labels: Area: Adaptive

#3292 fix: add --no-flat flag to browserify script in AEL
  libraries/adaptive-expressions/package.json
Labels: Automation: No parity

#3291 fix: limit logging in github tests
  libraries/botbuilder-dialogs-adaptive-teams/.mocharc.json
  libraries/botbuilder-dialogs-adaptive-teams/package.json
  package.json
  yarn.lock
Labels: Automation: No parity

#3335 fix: filter out undefined regex match groups
  libraries/botbuilder-dialogs-adaptive/src/recognizers/regexRecognizer.ts
  libraries/botbuilder-dialogs-adaptive/tests/regexRecognizer.test.js
Labels: Area: Adaptive
