Repository microsoft/botbuilder-js, pull requests merged in 2021-01, with the labels that each got.

#3167 fix: tests for BeginSkill with middlewares
  libraries/botbuilder-dialogs-adaptive-testing/tests/action.test.js
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/ActionTests/Action_BeginSkill.test.dialog
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/ActionTests/Action_BeginSkillEndDialog.test.dialog
  libraries/botbuilder-dialogs-adaptive/src/adaptiveComponentRegistration.ts
  libraries/botbuilder-dialogs-adaptive/src/input/inputDialog.ts
  libraries/botbuilder-dialogs-adaptive/src/templates/activityTemplate.ts
  libraries/botbuilder-dialogs-adaptive/src/templates/staticActivityTemplate.ts
  libraries/botbuilder-dialogs-adaptive/src/templates/textTemplate.ts
Labels: Area: Adaptive

#3168 feat: DialogInspector and new test actions
  libraries/botbuilder-dialogs-adaptive-testing/src/adaptiveTestComponentRegistration.ts
  libraries/botbuilder-dialogs-adaptive-testing/src/dialogInspector.ts
  libraries/botbuilder-dialogs-adaptive-testing/src/testAction.ts
  libraries/botbuilder-dialogs-adaptive-testing/src/testActions/assertNoActivity.ts
  libraries/botbuilder-dialogs-adaptive-testing/src/testActions/assertReplyActivity.ts
  libraries/botbuilder-dialogs-adaptive-testing/src/testActions/customEvent.ts
  libraries/botbuilder-dialogs-adaptive-testing/src/testActions/index.ts
  libraries/botbuilder-dialogs-adaptive-testing/src/testActions/memoryAssertions.ts
  libraries/botbuilder-dialogs-adaptive-testing/src/testActions/setProperties.ts
  libraries/botbuilder-dialogs-adaptive-testing/src/testActions/userActivity.ts
  libraries/botbuilder-dialogs-adaptive-testing/src/testActions/userConversationUpdate.ts
  libraries/botbuilder-dialogs-adaptive-testing/src/testActions/userDelay.ts
  libraries/botbuilder-dialogs-adaptive-testing/src/testActions/userSays.ts
  libraries/botbuilder-dialogs-adaptive-testing/src/testActions/userTyping.ts
  libraries/botbuilder-dialogs-adaptive-testing/src/testScript.ts
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/TestScriptTests/TestScriptTests_OAuthInputRetries_WithNullMessageText.test.dialog
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/TestScriptTests/TestScriptTests_PropertyMock.test.dialog
  libraries/botbuilder-dialogs-adaptive-testing/tests/testScript.test.js
  libraries/botbuilder-dialogs-adaptive/src/adaptiveDialog.ts
  libraries/botbuilder-dialogs-adaptive/src/entityAssignment.ts
Labels: Area: Adaptive, Area: Testing framework

#3183 fix: bump ms-rest-js for axios version bump
  libraries/botbuilder-ai/package.json
  libraries/botbuilder/package.json
  libraries/botframework-connector/package.json
  yarn.lock
Labels: Automation: No parity

#3201 feat: http request mock
  libraries/botbuilder-dialogs-adaptive-testing/package.json
  libraries/botbuilder-dialogs-adaptive-testing/src/adaptiveTestComponentRegistration.ts
  libraries/botbuilder-dialogs-adaptive-testing/src/httpRequestMocks/httpRequestMock.ts
  libraries/botbuilder-dialogs-adaptive-testing/src/httpRequestMocks/httpRequestSequenceMock.ts
  libraries/botbuilder-dialogs-adaptive-testing/src/httpRequestMocks/httpResponseMock.ts
  libraries/botbuilder-dialogs-adaptive-testing/src/httpRequestMocks/httpResponseMockContent.ts
  libraries/botbuilder-dialogs-adaptive-testing/src/httpRequestMocks/httpResponseMockMessage.ts
  libraries/botbuilder-dialogs-adaptive-testing/src/httpRequestMocks/sequenceResponseManager.ts
  libraries/botbuilder-dialogs-adaptive-testing/src/mocks/mockHttpRequestMiddleware.ts
  libraries/botbuilder-dialogs-adaptive-testing/src/testScript.ts
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/TestScriptTests/HttpRequestMock/all.mock.dialog
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/TestScriptTests/HttpRequestMock/get.mock.dialog
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/TestScriptTests/HttpRequestMock/httpexact.mock.dialog
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/TestScriptTests/HttpRequestMock/httpluis.mock.dialog
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/TestScriptTests/HttpRequestMock/httppartial.mock.dialog
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/TestScriptTests/HttpRequestMock/httpqnaanswer.mock.dialog
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/TestScriptTests/HttpRequestMock/httpqnaintent.mock.dialog
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/TestScriptTests/HttpRequestMock/httpqnalevel1.mock.dialog
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/TestScriptTests/HttpRequestMock/httpqnanoanswer.mock.dialog
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/TestScriptTests/HttpRequestMock/httpqnaprompts.mock.dialog
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/TestScriptTests/HttpRequestMock/httpqnatopnanswer.mock.dialog
  libraries/botbuilder-dialogs-adaptive-testing/tests/resources/TestScriptTests/TestScriptTests_HttpRequestMock.test.dialog
  libraries/botbuilder-dialogs-adaptive-testing/tests/testScript.test.js
  yarn.lock
Labels: Area: Testing framework
